@using ARCIC.Models;

@{
    var currLPD = Globals.currLPD;
    }
<!---------Continuous------Feedback-----LPD-----Footer-------------------------------------------------->
<p>
    Continuous feedback, collaboration, and teamwork are keys to the success of the Campaign of Learning and driving innovation in the Army.  Please use the Army Warfighting Challenges as the framework to contribute your ideas and recommendations with respect to this topic to improve our ability to innovate as we develop the current and future force. 
</p>
<div class="alert alert-success">
    <p>The Army Warfighting Challenges (AWFC) framework may be accessed<a href="../Initiatives/ArmyWarfightingChallenges"> here:</a></p>

    <p>Please contribute to the <a href="/Initiatives/ArmyWarfightingChallenges">Army Warfighting Challenges.</a></p>
    <ul>
        <li>Public site (not requiring a CAC or password): <a href="/Home/" class="btn-link">ARCIC Website</a> </li>
        <li><a href="https://www.milsuite.mil/wiki/Army_Warfighting_Challenges" target="_blank">MilBook </a>collaboration site</li>
        <li>SIPR Net collaboration site:
                            <span class="text-danger" style="word-wrap: break-word">https://intellipedia.intelink.sgov.gov/wiki/Army_Warfighting_Challenges</span>
        </li>
    </ul>
    <p>
        For previous weekly readings go to: <a href="/LPD/FullArchives">ARCIC Professional Readings</a>
    </p>
    <!--Salutation-->
    <p> All the best, </p>
    <p>Bo </p>
</div>
