html{
    /*overflow-y: scroll;*/
    overflow-y:inherit;
}
body {
    padding-top: 96px;
    padding-bottom: 20px;
    margin-top: 0px;
    /*background-repeat: repeat-y;*/
    background-size: auto;
    background-position: 0px 0px;
    background-image: url('../App_Imgs/App/bckgrd/bck-4a.jpg');
    max-width: 100%;
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#sidebarLinks div a {
    color:Highlight;
}


.divider-thin {
    border-bottom: solid #d3d3d3 1pt;
    padding-top: 6px;
}

.divider-thin-lower {
    border-bottom: solid #d3d3d3 1pt;
    margin-bottom: 12px;
    margin-top: 6px;
    display: block;
    /*margin-bottom:0px;
    margin-top:0px;*/
}

.divider-thin-opaque {
    border-bottom: solid #d3d3d3 1pt;
    padding-top: 3px;
    opacity: .375;
}

img img-responsive.landscape01 {
    height: 66px;
}

#advertising div a {
    font-weight: 600;
    font-size: 1.175em;
}


/*Slider*/
#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}

    #sidebar .nav {
        width: 95%;
    }

    #sidebar li {
        border: 0 #f2f2f2 solid;
        border-bottom-width: 1px;
    }

#MainHeader {
    font-size: 3.1em;
    top: -160px;
    z-index: 1000;
    position: relative;
    left: 0px;
    margin-bottom: -112px;
}

.carouel-inner div div h1 {
    font-size: 2em;
}


/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -41.6%;
    }

    .row-offcanvas-right.active {
        right: 41.6%;
    }

    .row-offcanvas-left.active {
        left: 41.6%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }

    #sidebar {
        padding-top: 0;
    }
}


/*<!--Mobile First-->*/
/*iPhone 320 x 568*/
@media only screen and (max-width : 320px) {
    body {
        padding-top: 72px;
    }

    .carousel-caption h4 {
        font-size: 13.75pt;
    }

    .carousel-caption {
        margin-top: -40px;
        margin-bottom: 40px;
    }

    h3 {
        font-size: .66em;
    }

    #carouselCaption {
        position: relative;
        top: -152px;
        left: 0px;
        margin-bottom: -115px;
        display: block;
    }
    .col-lg-12 > h1:nth-child(1) {
        font-size:1.5em;
        padding:16px;
    }
   div.row:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h3:nth-child(1) {
        font-size:1.175em;
        padding-top:0;
        margin-top:0;
    }

    .panel-body > h2:nth-child(2) > b:nth-child(1) {
        font-size: .75em;
    }
}

/*iPhone 6s 375 x 667*/
@media (max-width: 375px) {
    body {
        padding-top: 72px;
    }
    .carousel-caption h4 {
        font-size: 15.5pt;
    }
    .carousel-caption {
        margin-bottom: 28px;
    }
    #MainHeader {
        font-size: 15.5pt;
        top: -100px;
        z-index: 1000;
        position: relative;
        left: 0px;
        margin-bottom: -66px;
    }
    h1.page-header {
        font-size:1.75em;
        margin-top:0;
    }
    h3.mobile {
        font-size:1.25em;
        margin-top:0;
    }
    h2.mobile b {
        font-size:.9em;
    }
   
}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
         body {
        padding-top: 72px;
    }
   .carousel-caption h4 {
        font-size: 15.5pt;
    }   
    .carousel-caption {
        margin-bottom: 28px;
    }
    h3 {font-size: .66em;}

    /*#carouselCaption {
        position: relative;
        top: -152px;
        left: 0px;
        margin-bottom: -115px;
        display: block;
    }*/
    #MainHeader {
        font-size: 15.5pt;
        top: -100px;
        z-index: 1000;
        position: relative;
        left: 0px;
        margin-bottom: -66px;
    }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) { 


    }

/*#bs-example-navbar-collapse-1 > ul > li{
    font-size:.5em;
}*/