

<!-- Modal Disclaimer -->
<div class="container">

    <div style="display: none;" class="modal fade" id="Disclaimer" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title"><b></b></h3>
                </div>
                <div class="modal-body">
                    <p>
                        <b class="text-danger">DISCLAIMER:</b>
                        The appearance of hyperlinks does not constitute endorsement of that website or the information, products or services contained therein by Department of Defense, the U.S. Army or the Army Capabilities Integration Center. The Army Capabilities Integration Center does not exercise any editorial control over the information at these locations. Such links are provided consistent with the stated purpose of this DoD website.

                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


