<!--ARCIC Overview Video-->
    <div class="panel panel-default">
       <a href="https://youtu.be/hTSua6lrwYQ" target="_blank" ><img style="width:100%;" class="img-responsive" src="../App_Imgs/Content/arcic-overview1-2017-02-27_01f.jpg" /></a>
        <div class="">
        </div>
    </div>

