<div class="panel panel-default">
    
    <img class="img-responsive" src="App_Imgs/Content/mcmaster-01f.jpg" />
   
    <div class="panel-body"> 
        <h4><b>Army Warfighting Challenges</b></h4> 
        @*<h4 class="text-center"><b>Join the Community!</b></h4>*@
        <div>
          @*  <p>You can help develop these Warfighting Challenges by joining the AWFC discussion on <a href="https://www.milsuite.mil/book/groups/army-warfighting-challenge-awfc-group">milSuite</a>! Join individuals from across the Community of Practice contribute insights and solutions that will be heard by Army Senior Leaders. Join the community, and help build the Future Force today!</p>
            <p>
                To learn more, visit our <span><a href=" https://www.milsuite.mil/wiki/AWFCOpens">milWiki Site</a></span> in a new tab or window or,
                         to collaborate, visit our <span><a href="https://www.milsuite.mil/book/groups/army-warfighting-challenge-awfc-group">milSuite</a> site.</span>
            </p>*@
            <br />
        </div>

       <div class="btn-group">
             <a href="/Initiatives/ArmyWarfightingChallenges" class="btn btn-default btn-sm pull-left" role="button">See Challenges</a>
            <a href="../App_Documents/AWFC-Current.pdf" class="btn btn-default btn-sm pull-right" role="button" target="_blank"
                 onClick="ga('send', 'event', { eventCategory: 'Download',  eventAction: 'Download AWFC Flyer', eventLabel: 'Download', eventValue: 1});">Download <i class="fa fa-download"></i></a>
       </div>
       
    </div>
 @*   <div class="panel-footer text-center clearfix">      
           
    </div>*@

</div>



