

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <hgroup class="title">
        <h1>&nbsp;</h1>
        <h1 class=""><b>Error</b></h1>

    </hgroup>
    <div class="col-md-8">
        <div class="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="error">An error occurred while processing your request.</h2>
                    <p>Please contact the <a href="mailto:arcic.media@gmail.com">webmaster</a> with the details of reaching this message, and any contact information you wish to include.  Our dedicated staff will work to resolve the issue as quickly as possible.</p>
                    <p>This may be the result of recent updates to the ARCIC Public Website.  If you have used a shortcut or favorite to access the ARCIC Public Website, please utilize the main navigation or search to refresh your link.</p>
                    <p>Press your 'BACK' button to return to the previous page, and continue your visit at ARCIC online.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Contact Details Column -->
    <div class="col-md-4">
        <h3><b>Contact Details</b></h3>

        <p>
            950 Jefferson Avenue<br>
            Fort Eustis, VA 23604-5761<br>
        </p>
        <div>

            <p>
                <i class="fa fa-phone"></i>
                <abbr title="Phone">P</abbr>: (757) 501-6357
            </p>
        </div>
        <div>
            <p>
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mmailto:arcic.media@gmail.com">ARCIC Webmaster</a>
            </p>
        </div>
        <div>
            <p>
                <i class="fa fa-clock-o"></i>
                <abbr title="Hours">H</abbr>: Monday - Friday: 8:30 AM to 4:30 PM
            </p>
        </div>

    </div>


</div>
<br />
<br />
<br />
<br />
<br />
<br /