@{
    ViewBag.Title = "Joint Modernization Command Director's Biography";
}


<div class="row">

    @helpers.PageTitleSimple("BG Joel K. Tyler", "","About","Biography")

</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Brigadier General Joel K. Tyler was commissioned in Armor from the University of Arkansas Army ROTC in 1988. He is currently assigned as a Deputy Commanding General (DCG) for the 1st Armored Division at Fort Bliss, Texas.  BG Tyler served as the J-3 for Combined/Joint Task Force – Operation Inherent Resolve from September 2015-August 2016. His other assignments include service in the Federal Republic of Germany, Republic of Korea, and around the continental United States in both FORSCOM and TRADOC assignments.  He has deployed to OPERATION DESERT SHIELD/STORM, OPERATION IRAQI FREEDOM, and OPERATION SPARTAN SHIELD.
                </p>
                <p>He is a graduate of the Scout Platoon Leader's Course, Armor Officer Basic and Advanced Courses, the Field Artillery Officer Advanced Course, Combined Arms and Services Staff School, the Command and General Staff College, and the United States Naval War College.  He holds a B.A. in Political Science from the University of Arkansas, M.S. from Central Michigan University in Public Administration, and M.A. from the College of Naval Warfare in National Security and Strategic Studies. </p>
                <p>BG Tyler’s awards include the Defense Superior Service Medal, Legion of Merit, Bronze Star Medal, Defense Meritorious Service Medal, Army Meritorious Service Medal, Army Commendation Medal, the Army Achievement Medal, Iraq Campaign Medal, National Defense Service Medal, Global War on Terrorism Expeditionary and Service Medals, Korean Service Medal, Saudi Arabian/Kuwait Liberation Medal, Kuwait Liberation Medal, Overseas Service Ribbon, Parachutist Badge, and the Army Staff Identification Badge. </p>

                 </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><b>Brigadier General Joel K. Tyler Commanding General, Joint Modernization Command</b></h4>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="img-responsive" src="../App_Imgs/Leadership/Tyler.jpg" />
                    </p>
                    <p></p>
                    @*<a href="#" class="btn btn-default"></a>*@
                </div>
            </div>
        </div>




</div>


