@{
    ViewBag.Title = "ARCIC CDD Director's Biography";
}



<div class="row">

    @helpers.PageTitleSimple("BG David P. Komar", "","About","Biography")

</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Brigadier General David P. Komar was commissioned as a Field Artillery Officer through ROTC at Lafayette College, Easton, Pennsylvania. As a Lieutenant, he served as a Platoon Fire Direction Officer, Platoon Leader and Fire Support Officer with the 3rd Battalion, 5th Field Artillery Battalion and the 2nd Armored Cavalry Regiment, in Germany and during OPERATION DESERT SHIELD and OPERATION DESERT STORM.</p>
                <p>After returning to Germany, he was the Brigade Adjutant for the 210th Field Artillery Brigade. Following the Field Artillery Advanced Course, he served with 3rd Battalion, 7th Field Artillery, 25th Infantry Division (Light). During this time, he was the Battalion Fire Direction Officer, a Firing Battery Commander, and a Brigade Fire Support Officer. BG David P. Komar then commanded two more Field Artillery Batteries before serving as the Force Structure and Readiness Analyst in the Army Program Analysis and Evaluation Directorate, Office of the Chief of Staff of the Army. He was then assigned to the Army Capabilities Integration Center’s Force Design Directorate. During most of this assignment, he was the Deputy Chief of Staff and Chief of Force Design for the Chief of Staff, Army’s TF MODULARITY. BG Komar then became the Force Integration Branch Chief in the Deputy Chief of Staff of the Army G-37 followed by service in the Deputy Chief of Staff of the Army G-8, Force Development as the Chief of Army Equipping Plans and Policy. Later, BG Komar deployed as the Director, CJ7, NATO Training Mission - Afghanistan and Combined Security Transition Command – Afghanistan during OPERATION ENDURING FREEDOM. He then served as Director, Capabilities Development Integration Directorate, Mission Command Center of Excellence at Fort Leavenworth, Kansas.  His most recent assignment was as the Director, Business Operations Directorate, Office of Business Transformation at the Pentagon.</p>
                <p>BG Komar graduated from the Air Command and Staff College and the Naval War College. He earned Master’s Degrees in National Security and Strategic Studies from the Naval War College, Military Operational Arts and Science from the Air University and in Management from Webster University.</p>
                
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><b>BG David P. Komar Director, Capabilities Developments Directorate</b></h4>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="img-responsive" src="../App_Imgs/Leadership/Komar-David-BG-ASU_01f.jpg" />
                    </p>
                  
                    @*<a href="#" class="btn btn-default"></a>*@
                </div>
            </div>
        </div>




</div>


