@{
    ViewBag.Title = "ARCIC CSM's Biography";
}



<div class="row">

    @helpers.PageTitleSimple("BG Mark W. Odom", "","About","Biography")

</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Brigadier General Mark Odom received a Regular Army commission as an Infantry Officer through the ROTC program in 1987. During his career, he has held a range of staff and leadership posi-tions in the 82nd Airborne Division, the 2nd Infantry Division, the 173rd Airborne Brigade, the 4-25th Airborne Brigade, and the 75th Ranger Regiment. Brigadier General Odom has also served on the Joint Staff. He currently serves as the Director for Concept Development and Learning at the Ar-my Capabilities Integration Center.</p>
                <p>Brigadier General Odom commanded 1-40th Cavalry Squadron from 2005-2008, 2nd Ranger Bat-talion from 2008-2010, and the 75th Ranger Regiment from 2011-2013.</p>
                <p>Brigadier General Odom’s operational deployments include Operation Joint Guardian (Kosovo), Operation Iraqi Freedom (Iraq), Operation Enduring Freedom (Afghanistan) and Operation Inher-ent Resolve (Iraq).</p>
                <p>Brigadier General Odom holds a BA in Political Science from Middlebury College, an MA in War Studies from King’s College London, and an MA in National Security Studies from the National War College.</p>
                <p>Brigadier General Odom is married and has one daughter. COL</p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><b>Brigadier General Mark W. Odom Director, Concept Development and Learning Directorate</b></h4>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="img-responsive" src="../App_Imgs/Leadership/Odom-Mark-BG-ASU_01f.jpg" />
                    </p>
                                    
                    
                    @*<a href="#" class="btn btn-default"></a>*@
                </div>
            </div>
        </div>




</div>


