@{
    ViewBag.Title = "ARCIC COL Rafael Lopez Biography";
}



<div class="row">

    @helpers.PageTitleSimple("COL Rafael Lopez", "","About","Biography")

</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">               
                <p>
                    Colonel Rafael López received a Regular Army commission in the Corps of Engineers through the ROTC program at the University of Florida in 1993.
                </p>
                <p>
                    His previous assignments include the 2d Armored Cavalry Regiment, the 3d Brigade Combat Team/3d Infantry Division, and the Asymmetric Warfare Group.  Previous Institutional assignments include the U.S. Army Corps of Engineers, and the Western Hemisphere Institute for Security Cooperation (WHINSEC).  These assignments covered a variety of command and staff positions including company and squadron command, battalion, brigade and DA level staff and multiple tours in support of combat and stability operations.
                </p>
                <p>
                    Colonel López is a graduate of the Command and General Staff Officer’s Course, and the School of Advanced Military Studies.  He has a Bachelor of Science degree in Computer Engineering from the University of Florida, a Master of Science degree in Engineering Management from University of Missouri-Rolla and a Masters in Military Arts and Sciences from the Command and General Staff College School of Advanced Military Studies. He is currently a member of the U.S. Army Advanced Strategic Plans and Policy Program (ASP3) and a PhD Candidate at the University of Virginia.
                </p>
                <p>
                    Colonel López’s awards and decorations include the Legion of Merit, the Bronze Star Medal with “V” Device, the Meritorious Service Medal with Oak Leaf Cluster, the Joint Service Commendation Medal, the United Nations Medal, Army Staff Badge, Parachutist Badge, Pathfinder Badge and Ranger Tab.
                </p>             
                
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><b>Colonel Rafael Lopez Director, ARCIC Plans and Operations Directorate</b></h4>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="img-responsive" src="../App_Imgs/Leadership/Lopez-about-750.jpg" />
                    </p>
                    <p></p>
                    @*<a href="#" class="btn btn-default"></a>*@
                </div>
            </div>
        </div>




</div>


