@{
    ViewBag.Title = "TRADOC's G9's Director Biography";
}



<div class="row">

    @helpers.PageTitleSimple("Rickey Smith", "","About","Biography")

</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">               
                <p>Mr. Smith was appointed as the Army Senior Professional for Capabilities Development in June 2009.  He represents Training and Doctrine Command at Joint, Interagency, Multinational, and Service Staff forums in the National Capital Region. He engages with the Army Staff, Army Secretariat, Office of Secretary of Defense, Members of Congress and their staffs, the Joint Staff, and academic organizations to identify, develop, and synchronize capabilities for the current and future Army.  </p>
                <p>Mr. Smith serves as a member of the Senior Executive Service for the United States Army based on his extensive knowledge of the intellectual and analytical underpinnings for the Army’s force structure as well as rapid and deliberate capabilities development processes.  The National Commission on the Future of the Army selected him as their Staff Director where he led the analysis for their report presented to the President and Congress.  Mr. Smith addresses civilian and military audiences on the enduring utility of land power as an essential element of the Nation’s Joint Force.</p>
               <p><b>CAREER CHRONOLOGY:</b></p>
                <ul>                   
                    <li>June 2006 - June 2009: Senior Expert for Army Capabilities Integration Center, U.S. Army Training and Doctrine Command, Arlington, VA</li>
                    <li>January 2004 – May 2006: Director, Futures Center (Forward), U.S. Army Training and Doctrine Command, Arlington, VA.  Retired at the rank of Colonel following 28 years active service.</li>
                    <li>August 2003 – January 2004: Chief of Staff, Army Modularity Focus Area, Ft. Monroe, VA</li>
                    <li>August 2002 – August 2003: Director, Force Transformation, Deputy Chief of Staff for Developments, U.S. Army Training and Doctrine Command, Ft. Monroe, VA</li>
                    <li>July 2000 – August 2002: Commander, 3rd Brigade, 91st Division, Travis Air Force Base, CA</li>
                    <li>June 1998 – July 2000: Chief, Nuclear Treaties Branch, Nuclear Arms Control Division, J-5, Joint Staff, Pentagon, Washington, D.C.</li>
                    <li>August 1996 – June 1997: Joint Doctrine Team Chief, Office of the Deputy Chief of Staff for Operations and Plans Headquarters, Department of the Army, Pentagon, Washington, D.C.</li>
                    <li>September 1994 – August 1996: Commander, 2nd Battalion, 2nd Field Artillery, Ft. Sill, OK</li>
                    <li>July 1993 – September 1994: Chief, Cannon Division, Gunnery Department, U.S. Army Field Artillery School, Ft. Sill, O</li>
                    <li>May 1990 – February 1992: Executive Officer and Operations Officer, 3rd Battalion, 5th Field Artillery (203mm Howitzer), Swabach, Germany</li>
                    <li>March 1988 – April 1990: Assistant Inspector General, VII Corps Headquarters, Stuttgart, Germany</li>
                    <li>July 1984 – March 1988: Assistant Professor of Military Science, Tennessee Technological University, Cookeville, TN</li>
                    <li>June 1983 – June 1984: Deputy Commander, U.S. Army Garrison, and Commander, Headquarters and Headquarters Detachment Camp Page, Korea</li>
                    <li>February 1981 – May 1983: Commander, B Battery, 2nd Battalion, 1st Field Artillery, Ft. Sill, OK</li>
                    <li>August 1980 – January 1981: Operations Officer, 2nd Battalion, 1st Field Artillery (105mm Howitzer), Ft. Sill, OK</li>
                    <li>September 1978 – July 1980: Executive Officer, Assistant Executive Officer and Forward Observer, B Battery, 2nd Battalion, 2nd Field Artillery, Ft. Sill, OK</li>
                  
                </ul>

                <p><b>COLLEGE:</b></p>
                <ul>
                    <li>MS, National Security Strategy, National Defense University, 1998</li>
                    <li>MBA, Tennessee Technological University, 1987</li>
                    <li>BA, Business Administration, Tennessee State University, 1978</li>
                </ul>
                <p><b>SIGNIFICANT TRAINING:</b></p>
                <ul>
                    <li>U.S. Army Command and General Staff College, 1993</li>
                    <li>Field Artillery Officer Advance Course, 1983</li>
                    <li>Field Artillery Cannon Officer Basic Course, 1978</li>
                </ul>
                <p><b>CERTIFICATIONS:</b></p>
                <ul>
                    <li>Army Inspector General certification, 1988</li>
                </ul>
                <p><b>AWARDS AND HONORS:</b></p>
                <ul>
                    <li>Presidential Rank Award Meritorious Service</li>
                    <li>Department of the Army Meritorious Civilian Service Award</li>
                    <li>Distinguished Service Medal</li>
                    <li>Defense Superior Service Medal</li>
                    <li>Legion of Merit</li>
                    <li>Meritorious Service Medal with five Oak Leaf Clusters</li>
                    <li>Joint Service Commendation Medal</li>
                    <li>Army Commendation Medal with two Oak Leaf Clusters</li>
                    <li>Army Achievement Medal with Oak Leaf Cluster</li>
                    <li>Joint Chiefs of Staff Identification Badge</li>
                    <li>Army Staff Identification Badge</li>                   
                </ul>
                <p><b>PROFESSIONAL MEMBERSHIPS AND ASSOCIATIONS:</b></p>
                <ul>
                    <li>Senior Executive Association, Lifetime Member</li>
                    <li>Association of the United State Army, Lifetime Member</li>
                    <li>National War College Alumni Association, Lifetime Member</li>
                    <li>Field Artillery Association, Lifetime Member</li>
                   
                </ul>
                <p><b> MAJOR PUBLICATIONS:</b></p>
                <ul>
                <li>Co-author, FM 1-01, Generating Force Support to Operations, 2007, the first Army doctrinal manual for the institutional force</li>
                </ul>

               

            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><b>Deputy Chief of Staff, G-9 U.S. Army Training and Doctrine Command Arlington, Virginia

</b></h4>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="img-responsive" src="../App_Imgs/Leadership/Smith-about-750.jpg" />
                    </p>
                    <p></p>
                    @*<a href="#" class="btn btn-default"></a>*@
                </div>
            </div>
        </div>




</div>


