<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="clearfix">
            @*<img class="img-responsive pull-left" src="App_Imgs/App/Icons/milSuite_100.png" />*@
            <h4 class="text-center text-muted"><b>Army Warfighting Challenges</b></h4>
        </div>
    </div>
    <img class="img-responsive" src="App_Imgs/Content/mcmaster-01f.jpg" />
   
    <div class="panel-body">      
        <div class="text-center">
             <span class="text-warning text-uppercase"><span class="text-primary">@helpers.loe("Implement")</span> <b>Implement </b></span> 
        </div>
         <div class="divider-thin"><h5></h5></div>
        <h4 class="text-center"><b>Join the Community!</b></h4>
        <div>
            You can help develop these Warfighting Challenges by joining the AWFC discussion on <a href="https://www.milsuite.mil/book/groups/army-warfighting-challenge-awfc-group">milSuite</a>! Join individuals from across the Community of Practice contribute insights and solutions that will be heard by Army Senior Leaders. Join the community, and help build the Future Force today!
                         <div>
                             To learn more, visit our <span><a href=" https://www.milsuite.mil/wiki/AWFCOpens">milWiki Site</a></span> in a new tab or window or,
                         to collaborate, visit our <span><a href="https://www.milsuite.mil/book/groups/army-warfighting-challenge-awfc-group">milSuite</a> site.</span>
                         </div>
           <br />
        </div>
    </div>
    <div class="panel-footer text-center clearfix">      
            <a href="/Initiatives/ArmyWarfightingChallenges" class="btn btn-default btn-sm pull-left" role="button">See Challenges</a>
            <a href="../App_Documents/AWFC-Current.pdf" class="btn btn-default btn-sm pull-right" role="button" target="_blank" onClick="ga('send', 'event', { eventCategory: 'Download',  eventAction: 'Download AWFC Flyer', eventLabel: 'Download', eventValue: 1});">Download Flyer <i class="fa fa-download"></i></a>
       
    </div>

</div>



