@{
    ViewBag.Title = "Human Dimension";
}

<div class="row clearfix">
    <div class="col-md-8">
        <h1 class="page-header"><b>Human Dimension</b></h1>
        <ol class="breadcrumb hidden-xs hidden-sm">
            <li><a href="/Home">Home</a> </li>
            <li class="active">Initiatives</li>
            <li class="active">Human Dimension</li>
        </ol>
    </div>

        <div class="col-md-8">
            <h3><b>Problem Statement</b></h3>
            <div class="panel panel-default">                 
                <div class="panel-body">
                    <p>Faced with a complex future OE, changing fiscal realities, and continuous engagement as part of unified land operations, the Army will require enhanced capabilities in the cognitive, physical, and social components of the human dimension. These capabilities are necessary for the future Army to win the clash of wills, become more expeditionary while retaining capability, and maintain overmatch over adversaries.</p>
                    
                    <p>The Army recognizes that the American Soldier remains the most discriminately lethal force on the battlefield. In light of the future operational challenges, the Army must invest significantly in the human dimension. This investment requires a unifying, holistic vision: maximized individual and team performance through identification, development, and optimal integration of human capabilities.</p>

                </div>
            </div>
        </div>

       <!--Sidebar-->
        <div class="col-md-4 pull-right"> <h3 class="clearfix"><b>Related Concepts</b> @*<i class="fa fa-youtube fa-lg pull-right"></i>*@</h3>
        <div class="panel panel-default">
            @*<iframe width="349" height="190" src="https://www.youtube.com/embed/f8C0LQ4kk5I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>*@
           @*<div class="panel-body">
               <h4 class="panel-title">AUSA Hot Topic - Medical - Lt. Gen. Herbert McMaster - Human Dimension</h4>
           </div>*@
            <ul class="list-group list-group-flush">
                   <li class="list-group-item">Capstone Concept </li>
                   <li class="list-group-item">Operating Concept</li>
                   <li class="list-group-item">Learning Concept </li>
                   <li class="list-group-item"> Human Dimension Concept</li>
                   <li class="list-group-item"> Functional Concepts</li>                   
               </ul>    
        </div>
             
    </div>



        <!--Strategic Insights-->
        <div class="col-md-8">
            <h2><b>Human Dimension Concept</b></h2>
            <div class="panel panel-default">                 
                <div class="panel-body">
                    <p>In May of 2014, the TRADOC Commanding General approved theU.S. Army Training and Doctrine Command (TRADOC) Pamphlet (PAM) 525-3-7Opens a new tab or window, the U.S. Army Concept for the Human Dimension in FSO 2015-2024, to address the challenge of sustaining the quality of the All-Volunteer Force in an era of persistent conflict to meet the demands of ARFORGEN.</p>
               
                </div>
            </div>
        </div>



        
        <!--International Viewpoints-->
        <div class="col-md-8">
            <h2><b>Human Dimension Definition</b></h2>
            <div class="panel panel-default">                 
                <div class="panel-body">                  
                    <p>The cognitive, physical, and social components of a Soldier, Army Civilian, leader, and organizational development and performance essential to raise, prepare, and employ the Army in unified land operations.</p>
                </div>
            </div>
        </div>




  <!--Joint Concept for Integrated Campaigning-->
        <div class="col-md-8">
            <h2><b>Human Dimension Operational Requirements</b></h2>
            <div class="panel panel-default">                 
                <div class="panel-body">
                   <ul class="" style="list-style:square;">
                       <li>Integrate and synchronize human dimension initiatives</li>
                       <li>Manage individual talent throughout the lifecycle</li>
                       <li>Provide critical and creative thinking leaders</li>
                       <li>Use cognitive, physical, and social assessments that measure abilities</li>
                       <li>Assess individual and unit readiness for the demands of common soldiering tasks</li>
                       <li>Accelerate learning, experience, and professional development</li>
                       <li>Enhance individual and unit resiliency</li>
                   </ul>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <h2><b>Human Dimension Vision, Outcomes, and Goals</b></h2>
            <div class="panel panel-default">                 
                <div class="panel-body">
                    <div><b>Vision:</b><br />                        
                        Maximized individual and team performance through identification, development, and optimal integration of human capabilities.
                    </div>
                    <div class="divider-thin-lower"></div>
                    <div><b>Maximized Army Professionals</b><br />
                        Maximized individual and team performance through identification, development, and optimal integration of human capabilities.
                    </div>
                    <div class="divider-thin-lower"></div>
                   <ul class="" style="list-style:square;">
                       <li>Accelerated ethical maturity and strengthened character</li>
                       <li>Improved ethical conduct</li>
                       <li>Accelerated inculcation of Army values</li>
                        <li>Expanded professional certification and credentialing</li>
                       <li>Increased propensity to serve</li>
                       <li>Increased commitment to the profession</li>
                        <li>Improved resource stewardship</li>
                   </ul>

                     <hr />
                    <div><b>Optimized Job Performance</b><br />                                               
                          </div>
                    <div class="divider-thin-lower"></div>                   
                    
                   <ul class="" style="list-style:square;">
                       <li>Accelerated leader development and team building</li>
                       <li>Accelerated learning and experience</li>
                       <li>Improved cognition: attention; problem solving; knowledge and skill retention; decision-making; reasoning; learning</li>
                       <li>Adaptive and agile mission ready performance</li>
                       <li>Improved social and interpersonal interaction/competency; diversity and inclusion</li>
                       <li>Improved health/stamina</li>
                       <li>Improved cross-cultural competence</li>
                       <li>Improved accessions and talent utilization</li>
                   </ul>

                      <hr />
                    <div><b>Optimized Holistic Health and Fitness</b><br />  </div>
                    <div class="divider-thin-lower"></div>                   
                    
                   <ul class="" style="list-style:square;">
                       <li>Increased resilience and post-traumatic growth</li>
                        <li>Increased injury prevention</li>
                        <li>Reduced short and long term disability</li>
                        <li>Improved physical, mental, and emotional health</li>
                        <li>Improved physical, cognitive, and social fitness baseline</li>
                        <li> Improved stress management/adaptation</li>
                       <li>Enhanced full life cycle fitness assessment</li>    

                   </ul>
                </div>
            </div>

           
        </div>

        <div class="col-md-8">
            <h2><b>Human Dimension Desired End State</b></h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>The Army will support maximized individual and team performance through identification, development, and optimal integration of human capabilities. Soldiers are enabled by technology, cognitive, medical, and social sciences to achieve excellence in small unit competence and to dominate increasingly complex operational environment.</p>

                    <div><b>Assertions:</b><br />
                    </div>
                    <div class="divider-thin-lower"></div>

                    Human Dimension is a transformational endeavor requiring proponency to integrate Cognitive, Physical and Social (CPS) attributes across the Army.
                </div>
            </div>
        </div>


       <div class="col-md-8">
            <h2><b>Human Dimension Desired End State</b></h2>
            <div class="panel panel-default">
                <div class="panel-body">
                     <ul class="" style="list-style:square;">
                      <li>Army Human Dimension Council</li>
                      <li>Formation of a Human Dimension Capabilities Development and Integration Directorate (CDID) within the Mission Command Center of Excellence</li>
                      <li>Designation of Human Dimension TRADOC Capabilities Manager (TCM-HD)</li>

                   </ul>
                </div>
            </div>
        </div>
        
    
    
    
    <!--end container-->
    </div>

    <!--end row-->


</div>




