@{
    ViewBag.Title = "Functional Concepts";
    var conceptName = "Functional";
}

<div class="row">
      <!-- Page Heading/Breadcrumbs -->       
            <div class="col-md-12">                
                 <h1 class="page-header"><b>The U.S. Army @conceptName  Concept</b>
                    <small></small>
                </h1>                
                <ol class="breadcrumb hidden-xs hidden-sm">
                    <li><a href="/Home">Home</a></li>   
                    <li><a href="/Initiatives/Force2025BeyondOverview">F2025 and Beyond</a></li>                    
                    <li class="active">@conceptName Concept</li>
                </ol>
            </div>

    <div class="col-md-8">
        <h3><b>Overview</b></h3>
        <div class="panel panel-default">
            <div class="panel-body">
               
                <p class="">Six new Army Functional Concepts (AFCs) are now key elements of the Army Concept Framework. These AFCs detail how future Army forces will conduct operations as part of the joint force to deter conflict, prevail in war, and succeed in a wide range of contingencies in the future operational environment. Each concept document, developed by the respective Center of Excellence, addresses one of the warfighting functions: mission command, intelligence, movement and maneuver, fires, sustainment, and protection.</p>
                <br />

                <p>The Army revised the Army Concept Framework with the publication of the revised Army Capstone Concept (ACC) in December 2009 that provides a guide to how the Army will apply available resources to overcome adaptive enemies and accomplish challenging missions. The revised Army Operating Concept (AOC), followed in August 2010, by describing how Army headquarters organize and direct their forces, and defining major categories of Army operations. The Army's Functional Concepts, published in October 2010, identify capabilities required of future Army forces to guide and prioritize force development. Using a holistic approach, selected TRADOC Centers of Excellence wrote the AFCs integrated within and across warfighting functions. This approach allowed TRADOC to deliver a comprehensive description of the capabilities by echelon, emphasize joint and functional interdependencies, and highlight redundant capabilities.</p>
           
                <p>For Army forces to defeat enemies and establish conditions necessary to achieve national objectives, the AFCs focus on the operational and tactical levels of war and define capability requirements to accomplish full spectrum operations through two fundamental responsibilities: combined arms maneuver and wide area security. Army forces conduct combined arms maneuver to gain physical, temporal, and psychological advantages over the enemy. Wide area security consolidates gains and ensures freedom of movement and action.</p>
                <br />
                <p>The AFCs also describe the application of mission command and outlines how future Army leaders and units will co-create the context of future operations.</p>
                <br />
                <p>The AFCs will guide changes in Army doctrine, organization, training, materiel, leadership and education, personnel, and facilities. These concepts will also enhance the integration of future Army forces with a wide array of domestic and international partners.</p>
                 
            <br />
                <p>The new AFCs broaden the foundation for a continued campaign of learning and drive further discussion, experimentation, and learning to serve as a roadmap for capability developers as they work to build the future force and institutionalize operational adaptability across the Army.</p>
            </div>
        </div>  
       
                 
</div>





    <!--Sidebar-->
    <div class="col-md-4">                
        <div class="list-group">
            <div class="list-group-item">
                <h3><b>Related Concepts</b></h3>
            </div>
            <a class="list-group-item" href="/Concepts/Capstone">
                <span class="">Capstone Concept</span>              
            </a>
            <a class="list-group-item"  href="/Concepts/Operating" >
                <span class="">Operating Concept</span>
            </a>
            <a class="list-group-item" href="/Concepts/Learning">
                <span class="">Learning Concept</span>
            </a>
            <a class="list-group-item" href="/Concepts/Training">
                <span class="">Training Concept</span>
            </a>
            <a class="list-group-item" href="/Concepts/Human" >
                <span class="">Human Dimension Concept</span>
            </a>
            <div class="list-group-item active">
                <h4 class=""><b>Functional Concept</b></h4>
            </div>
        </div>



        <ul class="list-group">
            <li class="list-group-item">
                <h3><b>Functional Concepts</b></h3>
                <p><small>Read the Functional Concepts</small></p>
            </li>
            <li class="list-group-item"><i class="fa fa-file-pdf-o"></i> <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-3-3.pdf" target="_blank">Functional Concpet for Mission Command</a> <i class="fa fa-external-link"></i></li>
            <li class="list-group-item"><i class="fa fa-file-pdf-o"></i> <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-3-4.pdf" target="_blank">Fires</a> <i class="fa fa-external-link"></i></li>
            <li class="list-group-item"><i class="fa fa-file-pdf-o"></i> <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-3-5.pdf" target="_blank">Protection</a> <i class="fa fa-external-link"></i></li>
            <li class="list-group-item"><i class="fa fa-file-pdf-o"></i> <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-3-6.pdf" target="_blank">Movement and Maneuver</a> <i class="fa fa-external-link"></i></li>
            <li class="list-group-item"><i class="fa fa-file-pdf-o"></i> <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-2-1.pdf" target="_blank">Functonal Concept for Intelligence</a> <i class="fa fa-external-link"></i></li>
            <li class="list-group-item"><i class="fa fa-file-pdf-o"></i> <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-4-1.pdf" target="_blank">Sustainment</a> <i class="fa fa-external-link"></i></li>
            <li class="list-group-item"><i class="fa fa-file-pdf-o"></i> <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-8-5.pdf" target="_blank">Engagement</a> <i class="fa fa-external-link"></i></li>
           
        </ul>

    </div>
    <!-- /.row -->
</div>




