@using ARCIC.App_Code;

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        @helpers.SectionHeader("Jaws", "Home", "Concepts", "Unified Challenge")
    </div>

    <div class="col-md-8">
        @helpers.SectionSpotlight("Deep Wargames","","Spotlight")
    </div>
</div>
