@{
    ViewBag.Title = "Learning Concept";
    var conceptName = "Learning";
    
}

<div class="row">
      <!-- Page Heading/Breadcrumbs -->       
            <div class="col-md-12">                
                 <h1 class="page-header"><b>The U.S. Army @conceptName Concept (ALC) </b>
                    <small>(2015)</small>
                </h1>                
                <ol class="breadcrumb hidden-xs hidden-sm">
                    <li><a href="/Home">Home</a></li>   
                    <li><a href="/Initiatives/Force2025BeyondOverview">F2025 and Beyond</a></li>                    
                    <li class="active">@conceptName Concept</li>
                </ol>
            </div>




    <div class="col-md-8">
        <h3><b>Overview</b></h3>
        <div class="panel panel-default">
            <div class="panel-body">
               
                <p class="list-group-item-text">The <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-8-2.pdf" target="_blank">Army Learning Concept 2015 (ALC 2015) <i class="fa fa-external-link"></i></a> is an important component of TRADOC's ongoing Campaign of Learning and will describe the learning environment we envision on 2015. It's about improving our learning model by leveraging technology without sacrificing standards. It also describes a continuum of learning from the time Soldiers are accessed until the time they retire. Lastly, the concept makes clear Soldier development is a shared responsibility---sometimes TRADOC and sometimes the operational force, with the individual always responsible. Technology should allow us to share the responsibility for learning over the course of a career.</p>
 <br />

                <p class="list-group-item-text">The learning environment has changed dramatically over the past few years. We expect to see dramatic improvements in technology and we must leverage emerging technologies to better enable learning for a new generation of Soldiers. It's now about appealing to multiple senses (touch, see, hear), personal content and mobile access.</p>
 <br />

                <p class="list-group-item-text">The ALC 2015 focuses on the opportunities presented by mobile learning. We're focused on ease of access to applications as an imperative of learning and a move toward a blend of physical and virtual collaborative environments. Instruments will come and go, so we are focusing hard on understanding what we must deliver person-to-person and what we can deliver by other means. It is really about empowering the edge of our formations.</p>
 <br />

                <p class="list-group-item-text">TRADOC has a long history with simulations and have for many years trained aviators, tank crews, as well as small unit tasks like gunnery or convoy operations using simulators. The Army fielded the Virtual Battlespace 2 (VBS2) game engine, which adds current realism and relevance to any training experience. The "training brain" of a 2015 learning environment must possess a capacity to quickly develop, update and distribute relevant common training scenarios to the force.</p>
 <br />

                <p class="list-group-item-text">In 2015, the schoolhouse will use far more constructive, virtual and gaming technology to develop individual skills through a blended learning approach. Many of the virtual experiences students encounter in TRADOC will carry over seamlessly to their next operational assignment. Scenarios at training bases will replicate actual operations. The 2015 learners will be able to easily create and adapt virtual training environments to meet their individual or collective training needs.</p>


            </div>
        </div>
    </div>


    <!--Sidebar-->
    <div class="col-md-4">                
        <div class="list-group">
            <div class="list-group-item">
                <h3><b>Related Concepts</b></h3>
            </div>
            <a class="list-group-item" href="/Concepts/Capstone">
                <span class="">Capstone Concept</span>              
            </a>
            <a class="list-group-item"  href="/Concepts/Operating" >
                <span class="">Operating Concept</span>
            </a>
            <div class="list-group-item active">
                <h4 class=""><b>Learning Concept</b></h4>
            </div>
            <a class="list-group-item" href="/Concepts/Training">
                <span class="">Training Concept</span>
            </a>
            <a class="list-group-item" href="/Concepts/Human">
                <span class="">Human Dimension Concept</span>
            </a>
            <a class="list-group-item" href="/Concepts/Functional">
                <span class="">Functional Concept</span>
            </a>
        </div>

    </div>
    <!-- /.row -->
</div>
