@{
    ViewBag.Title = "Army Operating Concept (AOC)";
    var conceptName = "Operating";
}

<div class="row">
      <!-- Page Heading/Breadcrumbs -->       
            <div class="col-md-12">                
                 <h1 class="page-header"><b>The U.S. Army @conceptName Concept</b>
                    <small>(AOC)</small>
                </h1>                
                <ol class="breadcrumb hidden-xs hidden-sm">
                    <li><a href="/Home">Home</a></li>   
                    <li><a href="/Initiatives/Force2025BeyondOverview">F2025 and Beyond</a></li>                    
                    <li class="active">Capstone Concept</li>
                </ol>
            </div>
   



    <div class="col-md-8">
        <h3><b>Overview</b></h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>The newly published <a href="http://www.tradoc.army.mil/tpubs/pams/TP525-3-1.pdf">TRADOC Pam 525-3-1 <i class="fa fa-external-link"></i></a>, The U.S. Army Operating Concept (AOC): Win in a Complex World, is a key document in the Army Concept Framework that describes how the Army will employ forces and capabilities in complex environments against increasingly capable opponents. The AOC describes the Army's contribution to globally integrated operations, and addresses the need for Army forces to provide foundational capabilities for the Joint Force and to project power across land and from land into the air, maritime, space, and cyberspace domains. The AOC also guides force development through the identification of first order capabilities that the future force must possess to accomplish missions in support of policy goals and objectives.</p>
               <br />
                 <p>The AOC will drive changes in Army doctrine, organizations, training, materiel, leadership and education, personnel, and facilities. Revisions are necessary as future Army forces act, assess, and reassess operational and tactical actions; consolidate gains; and transition as required to keep pace with the dynamic nature of conflict and ensure the attainment of strategic and policy objectives. The AOC further serves as a bridge between the Army Capstone Concept (ACC) and the functional concepts, and enhances integration of future Army forces with a wide array of domestic and international partners.</p>
               <br />
                 <p>The Army centers of excellence build on the ACC and the AOC, to develop revised Army functional concepts. This includes ideas that have been applied in the operating force for years, yet not captured in concept or doctrine. The AOC helps drive capability development, encourages discussion and further learning, and helps to institutionalize operational adaptability across the force.</p>
            </div>
            
        </div>


        <div class="">
            <h3><b>AOC Forward: From the Chief of Staff of the Army</b></h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>The Army Operating Concept (AOC) describes how future Army forces will prevent conflict, shape security environments, and win wars while operating as part of our Joint Force and working with multiple partners. The AOC guides future force development by identifying first order capabilities that the Army needs to support U.S. policy objectives. It provides the intellectual foundation and framework for learning and for applying what we learn to future force development under Force 2025 and Beyond.</p>
                    <br /> <p>The title, Win in a Complex World, emphasizes ready land forces' importance for protecting our nation and securing our vital interests against determined, elusive, and increasingly capable enemies. While the concept underscores the foundational capabilities the Army needs to prevent wars and shape security environments, it also recognizes that to deter enemies, reassure allies, and influence neutrals the Army must conduct sophisticated expeditionary maneuver and joint combined arms operations.</p>
                    <br /> <p>The AOC's vision of future armed conflict considers both continuities in war's nature and changes in its character. Conflicts in the future, like those in the past, will ultimately be resolved on land. Hence the concept recognizes that Army forces will be essential components of joint operations to create sustainable political outcomes while defeating enemies and adversaries who will challenge U.S. advantages in all domains: land, air, maritime, space, and cyberspace. Joint operations are critical to cope with such complexity, and the Army's contribution must provide unique capabilities and multiple options to the President, Secretary of Defense, and Combatant Commanders. These capabilities include tailorable and scalable combinations of special operations and conventional forces, regionally aligned and globally responsive combined arms teams, and foundational theater capabilities to enable joint operations. To do this, innovation is critical, both for the operational and the institutional Army, and the AOC is a beginning point for the innovation we need to ensure that our Soldiers, leaders, and teams are prepared to win in a complex world.</p>
                     <div>RAYMOND T. ODIERNO</div>
                     <div>General, United States Army</div>
                     <div>Chief of Staff</div>
                </div>
            </div>
        </div>


        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="card">                    
                        <div class="card-block">
                            <h3 class="card-title"><b>AOC Preface:From the TRADOC Commanding General</b></h3>
                            <p class="card-text">One of our most important duties as Army professionals is to think clearly about the problem of future armed conflict. That is because our vision of the future must drive change to ensure that Army forces are prepared to prevent conflict, shape the security environment, and win wars. The purpose of the Army Operating Concept is to ask big questions, not focus on small answers. This concept focuses on three big questions; what level of war is the concept going to address, what is the environment we think Army forces will operate in, and what is the problem we are trying to solve. This concept, for the first time, focuses on all three levels of war; tactical, operational, and strategic. The environment the Army will operate in is unknown. The enemy is unknown, the location is unknown, and the coalitions involved are unknown. The problem we are focusing on is how to "Win in a Complex World."</p>
                            <p>"Win" occurs at the strategic level and involves more than just firepower. It involves the application of all elements of National Power. Complex is defined as an environment that is not only unknown, but unknowable and constantly changing. The Army cannot predict who it will fight, where it will fight, and with what coalition it will fight. To win in a complex world, Army forces must provide the Joint Force with multiple options, integrate the efforts of multiple partners, operate across multiple domains, and present our enemies and adversaries with multiple dilemmas.</p>
                            
                            <div><b>Multiple Dilemmas</b></div>
                            <p class="divider-thin"></p>
                            <p>The key to a Strategic Win is to present the enemy with multiple dilemmas. To compel enemy actions requires putting something of value to them at risk. Army forces allow joint force commanders to dictate the terms of operations and render enemies incapable of responding effectively. To present enemies and adversaries with multiple dilemmas, this concept introduces the idea of Joint Combined Arms Operations, an expansion of the traditional concept of combined arms to include the integration of not only joint capabilities, but also the broad range of efforts necessary to accomplish the mission. Joint Combined Arms Operations allows Joint Force Commanders to operate consistent with the tenet of initiative, dictating the terms of operations and rendering the enemy incapable of responding. Future forces operating as part of joint teams will conduct expeditionary maneuver through rapid deployment and transition to operations. Units possess the ability to operate dispersed over wide areas because they are able to integrate intelligence and operations to develop situational understanding through action while possessing the mobility to concentrate rapidly. Future forces conduct operations consistent with the tenet of adaptability, anticipating dangers and opportunities and adjusting operations to seize, retain, and exploit the initiative. Additionally, Army forces present the enemy with multiple dilemmas because they possess the simultaneity to overwhelm the enemy physically and psychologically, the depth to prevent enemy forces from recovering, and the endurance to sustain operations. Army forces are able to conduct Joint Combined Arms Operations because Soldiers, leaders, and teams thrive in environments of uncertainty and danger.</p>
                          
                            <div><b>Multiple Options</b></div>
                            <p class="divider-thin"></p>
                            <p>This concept adds set the theater and shape security environments as core competencies to emphasize the Army's role in providing options to Joint Force commanders across the range of operations to include large scale combat operations, limited contingencies, security force assistance, humanitarian assistance, and disaster response. This concept also adds special operations as an Army core competency to highlight the Army's ability to provide dynamic combinations of conventional and unconventional forces. The concept calls for regionally engaged Army forces to establish a global landpower network, shape security environments, and prevent conflict. Although there are political costs and sensitivities associated with the employment of U.S. ground forces, the presence or arrival of credible Army forces demonstrates U.S. resolve and commitment to partners and adversaries. Army forces provide combatant commanders with the ability to compel outcomes without the cooperation of the enemy. It is for these reasons that this concept emphasizes the Army's ability to impose our nation's will on an enemy by force as essential to deterring war and preserving options short of war. This concept also emphasizes the Army's critical role in establishing stable environments to consolidate gains and achieve sustainable outcomes.</p>
                          
                            <div><b>Multiple Domains</b></div>
                            <p class="divider-thin"></p>
                            <p>Army operations are inherently cross-domain operations. U.S. forces depend on and complement Joint efforts in the air, land, maritime, space and cyber domains to enable operations on land. Because Joint Force freedom of movement and action across all domains are increasingly challenged by elusive land-based threats, this concept emphasizes Army operations to gain, sustain, and exploit control over land, to deny its use to the enemy. Future Army forces help ensure access through Joint Forcible Entry operations with combined arms units that possess the mobility, firepower, and protection to defeat the enemy and establish control of land, resources, and populations. Future Army forces will support Joint Force freedom of movement and action through the projection of power from land across the maritime, air, space, and cyberspace domains. To assure allies, deter conflict, and compel determined and elusive enemies, the concept introduces a tenet of simultaneity, emphasizing the need for Army forces to extend efforts beyond the physical battleground to other contested spaces such as public perception, political subversion, and criminality.</p>
                          
                            
                            <div><b>Multiple Partners</b></div>
                            <p class="divider-thin"></p>
                            <p>American military power is joint power. How combatant and joint force commanders combine land, maritime, air, space, and cyberspace capabilities gives U.S. forces a competitive advantage over enemies and adversaries. Army forces contribute to Joint Force mission accomplishment by providing foundational capabilities that permit effective integration of military, interorganizational, and multinational efforts. It is the need to integrate these efforts of multiple partners on land, in contested and dangerous environments and in response to crises in the homeland or overseas, which requires Army forces to integrate the efforts of others and project national power.</p>
                          
                            
                            <div><b>Developing the Future Force</b></div>
                            <p class="divider-thin"></p>
                            <p>The Army Operating Concept is the start point for developing the future force. As the historian Sir Michael Howard observed, "No matter how clearly one thinks, it is impossible to anticipate precisely the character of future conflict. The key is to not be so far off the mark that it becomes impossible to adjust once that character is revealed." The tenet of innovation challenges us to anticipate changing conditions to ensure that Army forces are manned, trained, and equipped to overmatch enemies in order to seize, retain, and exploit the initiative. We must not be consumed with focusing solely on avoiding risk, but build leaders and institutions that recognize and leverage opportunities. Leaders at all levels must encourage prudent risk taking and not allow bureaucratic processes to stifle them. Finally, we must assess our efforts continuously and be prepared to adapt to unexpected opportunities and unanticipated dangers. Our Army must continuously learn, adapt, and innovate. The tenets in this concept must apply to the institutional Army as well as the operational Army.</p>
                          
                             </div>
                        
                        <div class="card-block">
                            <a class="card-link" href="#">Card link</a>
                            <a class="card-link" href="#">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>


    <!--Sidebar-->
    <div class="col-md-4">                
        <div class="list-group">
            <div class="list-group-item">
                <h3><b>Related Concepts</b></h3>
            </div>
            <a class="list-group-item" href="/Concepts/Capstone">
                <p class="list-group-item-text">Capstone Concept</p>              
            </a>
            <div class="list-group-item active" >
                <h4 class=""><b>Operating Concept</b></h4>
            </div>
            <a class="list-group-item" href="/Concepts/Learning">
                <p class="list-group-item-text">Learning Concept</p>
            </a>
            <a class="list-group-item" href="/Concepts/Training">
                <p class="list-group-item-text">Training Concept</p>
            </a>
            <a class="list-group-item" href="/Concepts/Human">
                <p class="list-group-item-text">Human Dimension Concept</p>
            </a>
            <a class="list-group-item" href="/Concepts/Functional">
                <p class="list-group-item-text">Functional Concept</p>
            </a>
        </div>

    </div>

    <div class="col-md-4">                
        <div class="list-group">
            <div class="list-group-item-heading">
                <h3><b>In the News</b></h3>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading"><b>Coming...</b></h4>
                <p class="list-group-item-text"></p>
            </div>
           
        </div>

    </div>

    <div class="col-md-4">                
        <div class="list-group">
            <div class="list-group-item-heading">
                <h3><b>Documents</b></h3>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading"><b>Coming...</b></h4>
                <p class="list-group-item-text"></p>
            </div>
           
        </div>

    </div>
    <!-- /.row -->
</div>
