@{
    ViewBag.Title = "Training Concept";
    var conceptName = "Training";
}

<div class="row">
      <!-- Page Heading/Breadcrumbs -->       
            <div class="col-md-12">                
                 <h1 class="page-header"><b>The U.S. Army @conceptName Concept</b>
                    <small>(2012)</small>
                </h1>                
                <ol class="breadcrumb hidden-xs hidden-sm">
                    <li><a href="/Home">Home</a></li>   
                    <li><a href="/Initiatives/Force2025BeyondOverview">F2025 and Beyond</a></li>                    
                    <li class="active">@conceptName Concept</li>
                </ol>
            </div>




    <div class="col-md-8">
        <h3><b>Overview</b></h3>
        <div class="panel panel-default">
            <div class="panel-body">
               
                <p class="list-group-item-text">The <a href="http://www.tradoc.army.mil/tpubs/pams/tp525-8-3.pdf" target="_blank">Army Training Concept (ATC) <i class="fa fa-external-link"></i></a> is Training and Doctrine Command's (TRADOC) concept capability plan for the future 2012-2020 Modular Force. The ATC describes the training requirements and capabilities for the Army to generate and sustain trained units that can successfully conduct operations across the spectrum of conflict in an uncertain joint, interagency, intergovernmental and multinational (JIIM) environment over an extended period. Separate from and complementary to the Army Leader Development Strategy (ALDS), it informs the development of the Army Training Strategy, and exploits the synergy across the training domains to achieve Army Force Generation (ARFORGEN) objectives.</p>
 <br />

                <p class="list-group-item-text">The seasoned combat-ready force we have today has effectively operated in a complex, irregular warfare (IW) environment for over ten years. But we now must provide the next generation of leaders with the right training environment to perform operations successfully anywhere along the spectrum of conflict. Constrained dwell time has caused leaders to use CTCs to train tasks previously trained at home station. Further, the IW focus of the past decade has limited training at the high-end of the spectrum of conflict. To enhance and facilitate home station training against hybrid (conventional, irregular, terrorist, and criminal) threats, the Army is developing the Integrated Training Environment (ITE)- a seamless interconnected combination of live, virtual and constructive simulations, scenarios, and command and control systems. The ITE is the backbone of the ATC and began fielding in 2012. It facilitates Brigade-level Mission Essential Task List proficiency at home stations.</p>
 <br />

                <p class="list-group-item-text">In 2012, the Army began fielding ITE infrastructure across 12 posts, which will last through 2016. As dwell time improves, leaders will be able to maximize home station training and shift the CTC focus to a more demanding culminating training event.</p>
 <br />

                <p class="list-group-item-text">The ATC identifies the requirements for future training capabilities. Once documented and approved in the Joint Capabilities Integration Development System (JCIDS), these capabilities will have a better chance of being funded in the Program Objective Memorandum.</p>
 <br />

                <p class="list-group-item-text"></p>


            </div>
        </div>
    </div>


    <!--Sidebar-->
    <div class="col-md-4">                
        <div class="list-group">
            <div class="list-group-item">
                <h3><b>Related Concepts</b></h3>
            </div>
            <a class="list-group-item" href="/Concepts/Capstone">
                <span class="">Capstone Concept</span>              
            </a>
            <a class="list-group-item"  href="/Concepts/Operating" >
                <span class="">Operating Concept</span>
            </a>
            <a class="list-group-item" href="/Concepts/Learning">
                <span class="">Learning Concept</span>
            </a>
            <div class="list-group-item active">
                <h4 class=""><b>Training Concept</b></h4>
            </div>
            <a class="list-group-item" href="/Concepts/Human">
                <span class="">Human Dimension Concept</span>
            </a>
            <a class="list-group-item" href="/Concepts/Functional">
                <span class="">Functional Concept</span>
            </a>
        </div>

    </div>
    <!-- /.row -->
</div>