<style>
    .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
</style>        
       
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="" data-target="#" href="/page.html">
                ARCIC <span class="caret"></span>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="#">Professional Reading List Archives</a></li>                
                <li class="divider"></li>

                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">National</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Newspapers/Magazines</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">The New York Times</a></li>
                                <li><a href="#">Wall Street Journal</a></li>
                                <li><a href="#">The Economist</a></li>
                            </ul>
                        </li>   
                        <li class="dropdown-submenu">
                            <a href="" target="_blank">Influential Blogs</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tom Ricks Best Defense</a></li>
                                <li><a href="#">War on the Rocks</a></li>
                                <li><a href="#">Defense One</a></li>
                                <li><a href="#">The War Council</a></li>
                                <li><a href="#">The Bridge</a></li>
                                <li><a href="#">Small Wars Journal</a></li>
                                <li><a href="#">Institute for the Study of War</a></li>
                            </ul>
                        </li> 
                        <li class="dropdown-submenu">
                            <a href="" target="_blank">Monthly &amp; Quarterly Readings</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Paramaters</a></li>
                                <li><a href="#">Joint Forces Quarterly</a></li>
                                <li><a href="#">Military Review</a></li>
                                <li><a href="#">Army Magazine</a></li>
                                <li><a href="#">Air Force Magazine</a></li>
                                <li><a href="#">Navy Proceedings</a></li>
                                <li><a href="#"> The Marine Corps Gazette</a></li>
                                <li><a href="#">The National Interest</a></li>
                                <li><a href="#">Combat Studies Institute</a></li>
                                <li><a href="#">Naval War College Review</a></li> 
                              
                            </ul>
                        </li>          
                    </ul>
                </li>
            </ul>
        </div>
















