
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3><b>Purpose</b></h3>
                <blockquote class="blockquote">
                    <p>
                        He made notes on all the important books he read, both in the books themselves and on reference cards, and he was as deeply interested in some of the unsuccessful campaigns, trying to ferret out the secret of their unsuccess, as he was in the successful ones.

                    </p>
                    <footer>Beatrice Ayer Patton (General George Patton’s Wife), on General Patton’s reading program.  From “A Soldier’s Reading,” Armor Magazine, November-December 1952.</footer>
                </blockquote>

            </div>
        </div>
    </div>
