
<style>
    /*.popover {
    background: #808080;
}*/
</style>

<div class="row">
    <div class="col-md-3 text-center" role="button">
    <div class="panel panel-default">
        <div class="panel-body" data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
            <h4><b>Department of Defense</b></h4>
            <p class="fa fa-plus-circle fa-3x text-primary"></p>
            <a href="#"> </a>
        </div>
    </div>
</div>
<div class="col-md-3 text-center" role="button">
    <div class="panel panel-default">
        <div class="panel-body" data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
            <h4><b>Department of Defense</b></h4>
            <p class="fa fa-plus-circle fa-3x text-primary"></p>
            <a href="#"> </a>
        </div>
    </div>
</div>

<div class="col-md-3 text-center" role="button">
    <div class="panel panel-default">
        <div class="panel-body" data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
            <h4><b>Department of Defense</b></h4>
            <p class="fa fa-plus-circle fa-3x text-primary"></p>
            <a href="#"> </a>
        </div>
    </div>
</div>

<div class="col-md-3 text-center" role="button">
    <div class="panel panel-default">
        <div class="panel-body" data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
            <h4><b>Department of Defense</b></h4>
            <p class="fa fa-plus-circle fa-3x text-primary"></p>
            <a href="#"> </a>
        </div>
    </div>
</div>


</div>

<div class="row">
    <div class="col-md-3 text-center" role="button">
    <div class="panel panel-default">
        <div class="panel-body" data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" 
            data-content="<div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
            <h4><b>Department of Defense</b></h4>
            <p class="fa fa-plus-circle fa-3x text-primary"></p>
            <a href="#"> </a>
        </div>
    </div>
</div>
<div class="col-md-3 text-center" role="button">
    <div class="panel panel-default">
        <div class="panel-body" data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
            <h4><b>Department of Defense</b></h4>
            <p class="fa fa-plus-circle fa-3x text-primary"></p>
            <a href="#"> </a>
        </div>
    </div>
</div>

<div class="col-md-3 text-center" role="button">
    <div class="panel panel-default">
        <div class="panel-body" data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
            <h4><b>Department of Defense</b></h4>
            <p class="fa fa-plus-circle fa-3x text-primary"></p>
            <a href="#"> </a>
        </div>
    </div>
</div>

<div class="col-md-3 text-center" role="button">
    <div class="panel panel-default">
        <div class="panel-body" data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
            <h4><b>Department of Defense</b></h4>
            <p class="fa fa-plus-circle fa-3x text-primary"></p>
            <a href="#"> </a>
        </div>
    </div>
</div>


</div>