<br /><br /><br />
<h1><b>Buttons</b></h1>




<style>
    #sidebar div div div  {
        background-color: gold;
    }
</style>
<div class="col-md-3">   

    <div id="sidebar" class="">
        <h3><b><i class="fa fa-th-large text-success"></i>&nbsp; Quick Links</b></h3>
        <br />
    
        <div>
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-left"><b>SEM Assessments</b></h5>
                    <a href="https://tradoc-g9-sem.army.mil/Account/" class="btn btn-default pull-right" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Go to the Strategic Engagement Manaager"> <i class="fa fa-edit"></i></a>

                </div>                
            </div>
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-left"><b>Opportunities Calendar</b></h5>
                    <a href="/sites/TCED/Resources/new/EventsOpportunityCalendarG9.pdf" class="btn btn-default pull-right" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="View PDF of Calendar"> <i class="fa fa-calendar"></i></a>

                </div>                
            </div>
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-left"><b>Quarterly/ KLE</b></h5>
                    <div class="btn-group pull-right">
                        <a href="https://hq.tradoc.army.mil/sites/TCED/Analyze/Quarterly%20Engagement%20Analyses" class="btn btn-default" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Latest Metrics"> <i class="fa fa-pie-chart"></i></a>
                        <a href="#" class="btn btn-default"><i class="fa fa-folder"></i></a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-left"><b>Monthly Metrics</b></h5>
                     <div class="btn-group pull-right">
                         <a href="#" class="btn btn-default" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Latest Metrics"><i class="fa fa-bar-chart"></i></a>
                         <a href="#" class="btn btn-default"><i class="fa fa-folder"></i></a>
                     </div>
                </div>                
            </div>  
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-left"><b>Today's Highlights</b></h5>
                     <div class="btn-group pull-right">
                         <a href="/sites/TCED/Assess/Daily%20Highlights/Current.pdf" class="btn btn-default" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="View Today's Daily Hightlights"> <i class="fa fa-newspaper-o"></i></a>
                         <a href="/sites/TCED/Assess/Daily%20Highlights/" class="btn btn-default"><i class="fa fa-folder"></i></a>
                     </div>
                </div>                
            </div>   
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-left"><b>Multi-Domain Battle</b></h5>
                     <div class="btn-group pull-right">
                         <a href="/sites/TCED/Assess/MDB/" class="btn btn-default" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="View the latest news on Multi-Domain Battle"> <i class="fa fa-cogs"></i></a>
                         
                     </div>
                </div>                
            </div>       
        </div>
             
      

    </div>

</div>



