<div id="wrapper" class="container" >     
 <div id="page-content-wrapper" >
        
        
        
<div class="row clearfix">
<div class="col-md-8">
                    <h2><b>Engaging Our Stakeholders</b></h2>


                    <div class="clearfix">
                        <div>
                            <h3>TRADOC Strategic Guidance 2017, 19 September 2016</h3>

                            <p>We must develop opportunities to tell our partners and stakeholders in and outside of DOD &quot;what TRADOC is for&quot; in order to gain and retain their trust, support for our efforts, and required resources. </p>

                        </div>

                    </div>
                    

                        <!-- Row 1 -->
                        <div class="row clearfix">

                            <div class="col-md-2 text-center" role="button">

                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/force-modernization.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/force-modernization.png'/><div> <div><h4><b>Force Modernization</b></h4><p>BMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p></div> </div>">
                                        <h4><b>Force
                                            <br />
                                            Modernization</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 text-center" role="button">
                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/DoD1.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/DoD1.png'/><div> <div><h4><b>Department of Defense</b></h4><p>The mission of the Department of Defense is to provide the military forces needed to deter war and to protect the security of our country. The department's headquarters is at the Pentagon.  </p></div> </div>">
                                        <h4><b>Department of Defense</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 text-center" role="button">
                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/DoA.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/DoA.png'/><div> <div><h4><b>Department of the Army</b></h4><p>The U.S. Army’s mission is to fight and win our Nation’s wars by providing prompt, sustained land dominance across the full range of military operations and spectrum of conflict in support of combatant commanders. We do this by: <ul><li>Executing Title 10 and Title 32 United States Code directives, to include organizing, equipping, and training forces for the conduct of prompt and sustained combat operations on land.</li> <li>Accomplishing missions assigned by the President, Secretary of Defense and combatant commanders, and Transforming for the future </li></ul></p></div> </div>">
                                        <h4><b>Department of the Army</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 text-center" role="button">
                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/asod.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/asod.png'/><div> <div><h4><b>Materiel Readiness</b></h4> <!--Content--> </div> </div>">
                                        <h4><b>Materiel
                                            <br />
                                            Readiness</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Row 2 -->
                        <div class="row">

                            <div class="col-md-2 text-center" role="button">
                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/jcs.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px; margin-top: -13px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/jcs.png'/><div class='center-block'> <div><h4><b>Joint Chiefs of Staff</b></h4><p>The collective body of the JCS is headed by the Chairman (or the Vice Chairman in the Chairman's absence), who sets the agenda and presides over JCS meetings. Responsibilities as members of the Joint Chiefs of Staff take precedence over duties as the Chiefs of Military Services.</p></div> </div>">
                                        <h4><b>Joint<br />
                                            Chiefs of Staff</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>


                            <!--TRADOC-->
                            <div class="col-md-4 text-center" role="button" style="background-image: url('../SiteAssets/App_Imgs/tradoc.png'); background-position: center center; background-repeat: no-repeat; background-size: 340px 340px; margin-bottom: 20px; margin-top: 0px;">
                                <div class="">
                                    <div class=""
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/tradoc.png'/><div> <div><h4><b>TRADOC</b></h4><p><p>TRADOC executes its mission through six major subordinate centers and commands:<ul><li>Army Capabilities Integration Center (Fort Eustis) </li><li>Combined Arms Center (Fort Leavenworth)</li><li>Initial Military Training (Fort Eustis) </li><li>Combined Arms Support Command (Fort Lee)</li><li>US Army Recruiting Command (Fort Knox)</li><li>US Army Cadet Command (Fort Knox) </li></ul></p></div> </div>">
                                        <br />
                                        <br />
                                        <h4><b>TRADOC </b></h4>
                                        <a href="tradoc.aspx">
                                            <p class="fa fa-plus-circle fa-3x text-primary"></p>
                                        </a>


                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 text-center" role="button">
                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/ATEC.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/ATEC.png'/><div> <div><h4><b>Test and Evaluation</b></h4><p>ATEC plans, integrates, and conducts experiments, developmental testing, independent operational testing, and independent evaluations and assessments to provide essential information to acquisition decision makers and commanders. </p></div> </div>">
                                        <h4><b>Test
                                            <br />
                                            &amp; Evaluation</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Row 3 -->
                        <div class="row">
                            <div class="col-md-2 text-center" role="button">
                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/Operational-Army.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/Operational-Army.png'/><div> <div><h4><b>Operational Army</b></h4><p>As a branch of the armed forces, the mission of the U.S. Army is &quot;to fight and win our Nation&apos;s wars, by providing prompt, sustained, land dominance, across the full range of military operations and the spectrum of conflict, in support of combatant commanders.</p> </div> </div>">
                                        <h4><b>Operational<br />
                                            Army</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 text-center" role="button">
                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/materiel-developers.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/materiel-developers.png'/><div> <div class='text-center'><h4><b>Materiel Developers</b><div><small class='text-muted'>Program Executive Offfice</small></div></h4><div class='text-left'><p>The Soldier is our strength and our purpose at Program Executive Office Soldier. We acquire the best capabilities for our Nation’s Army so that the U.S. Army continues to be dominant and decisive during the full spectrum of military operations.</p><p>We provide our Soldiers with the finest equipment and protection available as quickly as possible. We invest in our Soldiers to give them the decisive edge while also being good stewards of taxpayer funding.</p></div></div> </div>">
                                        <h4><b>Materiel
                                            <br />
                                            Developers</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-2 text-center" role="button">
                                <div class="panel panel-default">
                                    <div class="panel-body btn-default" style="background-image: url('../SiteAssets/App_Imgs/OutsideDoD.png'); background-position: center center; background-repeat: no-repeat; background-size: 190px 190px;"
                                        data-container="body" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                                        data-content="<img class='img-responsive' src='../SiteAssets/App_Imgs/OutsideDoD.png'/><div> <div><h4><b>Outside DoD</b></h4><p></p></div> </div>">
                                        <h4><b>Outside
                                            <br />
                                            DoD</b></h4>
                                        <p class="fa fa-plus-circle fa-2x text-primary"></p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>


                        </div>

                </div>

<!--Sidebar-- --Quick Links Bar-->                     
<div class="col-md-4">   

    <div id="sidebar2" class="">
        <h3><b><i class="fa fa-th-large text-success"></i>&nbsp; Quick Links</b></h3>
        <br />
    
        <div>
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-right"><b>SEM Assessments</b></h5>
                    <a href="https://tradoc-g9-sem.army.mil/Account/" target="_blank" class="btn btn-primary pull-left" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Go to the Strategic Engagement Manaager"> <i class="fa fa-edit"></i></a>

                </div>                
            </div>
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-right"><b>Opportunities Calendar</b></h5>
                    <a href="/sites/TCED/Docs/Calendars/EventsOpportunityCalendarG9.pdf" target="_blank" class="btn btn-primary pull-left" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="View PDF of Calendar"> <i class="fa fa-calendar"></i></a>

                </div>                
            </div>
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-right"><b>Quarterly/ KLE</b></h5>
                    <div class="btn-group pull-left">
                        <a href="/sites/TCED/Docs/Assessments/Quarterly Engagement Analyses/" class="btn btn-primary" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Latest Metrics"> <i class="fa fa-line-chart"></i></a>
                        <a href="/sites/TCED/Docs/Assessments/Quarterly Engagement Analyses/" class="btn btn-primary"><i class="fa fa-folder"></i></a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-right"><b>Monthly Metrics</b></h5>
                     <div class="btn-group pull-left">
                         <a href="/sites/TCED/Docs/Assessments/ARCIC-SC-Monthly.pdf" target="_blank" class="btn btn-primary" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Latest Metrics"><i class="fa fa-bar-chart"></i></a>
                         <a href="/sites/TCED/Docs/Assessments/Monthly Engagement Analyses/" class="btn btn-primary"><i class="fa fa-folder"></i></a>
                     </div>
                </div>                
            </div>  
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-right"><b>Today's Highlights</b></h5>
                     <div class="btn-group pull-left">
                         <a href="/sites/TCED/Docs/Daily Highlights/TRADOC-G9-Daily.pdf" target="_blank" class="btn btn-primary" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="View Today's Daily Hightlights"> <i class="fa fa-newspaper-o"></i></a>
                         <a href="/sites/TCED/Docs/Daily Highlights/Daily Highlights/" class="btn btn-primary"><i class="fa fa-folder"></i></a>
                     </div>
                </div>                
            </div>   
            <div class="panel panel-default center-block text-primary">
                <div class="panel-body clearfix">
                    <h5 class="pull-right"><b>Multi-Domain Battle</b></h5>
                     <div class="btn-group pull-left">
                         <a href="/sites/TCED/Assess/MDB/" class="btn btn-primary" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="View the latest news on Multi-Domain Battle"> <i class="fa fa-cogs"></i></a>
                         
                     </div>
                </div>                
            </div>       
        </div>
             
      

    </div>

</div>


</div>





 </div>
</div>




