@{
    ViewBag.Title = "Force 2025 and Beyond";
}

<!--F2025B Page Content-->
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-8">               
                <h1 class="page-header"><b>Force 2025 and Beyond</b></h1>
                <ol class="breadcrumb hidden-xs hidden-sm">
                    <li><a href="/Home">Home</a>
                    </li>
                     <li><a href="/Home/About">About</a>
                    </li>
                    <li class="active">F2025B</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

<div class="row">
    <div class="col-md-8">
        <!--News-->
        @Html.Partial("_DirectorateNews")

        <!--ad document-->
        <div class="panel panel-info">
            <div class="panel-body">
                <h4><a href="../app_Documents/TRADOC_Memo_Force-2025-and-Beyond-Setting-the-Course_06AUG2014.pdf" target="_blank"><b>Force 2025 and Beyond - Setting the Course</b></a> <i class="fa fa-file-pdf-o fa-lg"></i></h4>
            </div>
        </div>
        <!--Misison-->
        <div>
            <h4><b>Mission</b></h4>
            <p>Integrate and synchronize development activities, from concept to capabilities, across the ARCIC and the Army to develop and deliver solutions for Army future force.</p>
            <h4><b>Priorities</b></h4>
            <ul class="list-group">
                <li class="list-group-item">Conduct Strategic Engagements to influence and shape F2025B initiative for the Army</li>
                <li class="list-group-item">Plan, coordinate and execute F2025B Executive Committee and Board of Directors meetings</li>

                <li class="list-group-item">
                    Execute the F2025B Maneuvers Directive to validate tasks and activities for key stakeholders across and inclusion of the operational force and other critical stakeholders (OSD, JIM partners).
                </li>
            </ul>
        </div>
    </div>


    <!--Sidebar-->
    <div class="col-md-4">
        <!--Leadership-->
        <div class="text-muted"><h3><b>Leadership</b></h3></div>
        <div class="thumbnail">
            <p><img class="img-responsive" src="~/App_Imgs/Leadership/Zampelli-about-750.jpg" alt=""></p>
            <div class="caption text-center">
                <h4 class="text-primary">
                    <b>COL Richard Zampelli</b><br>
                    <small>Director</small>
                </h4>
                <p></p>
                <div class="btn-group text-center">
                    <div class="btn btn-default">
                        <a href="/Leadership/f2025b_director_bio"><i class="fa fa-word"></i> Bio</a>
                    </div>
                   
                </div>
            </div>
        </div>

        <!-- Divisions -->
        <div class="text-muted"><h3><b>Divisions</b></h3></div>
        <div class="thumbnail">
            <img class="img-responsive" src="~/App_Imgs/App/cdd-img03.jpg" alt="" style="width:100%">
            <div class="caption">
                <h4 class="text-muted"><b>Force 2025B Maneuvers Division</b></h4>
                <h3 class="text-primary">
                    <b></b>
                    <small></small>
                </h3>
                <p class="text-left">Provides the centralized planning, direction, and synchronization to execute F2025B Maneuvers, to integrate TRADOC and Army activities as part of the multi-year F2025B Strategy to achieve future force requirements to meet the demands of the strategic environment in 2025 and beyond</p>
                <br /><br />
            </div>
        </div>

        <div class="thumbnail">
            <img class="img-responsive" src="../App_Imgs/App/f2025b-governance.jpg" alt="" style="width:100%">
            <div class="caption">
                <h4><b>Governance and Outreach Division</b></h4>
                <h3 class="text-primary">
                    <b></b>
                    <small></small>
                </h3>

                <p class="text-left">
                    Coordinate the F2025B governance process to insure conditions are set for
                    meaningful dialogue and to support decision making by Senior Leaders
                    Department of the Army. Communicate the F2025B vision and Senior Leaders
                    Department of the Army decisions across the Army Enterprise.
                </p>
                
                <br />
            </div>
        </div>

        <div class="thumbnail">
            <img class="img-responsive" src="~/App_Imgs/App/f2025b-policy.jpg" alt="" style="width:100%">
            <div class="caption">
                <h4><b>Policy and Initiatives Division </b></h4>
                <h3 class="text-primary">
                    <b></b>
                    <small></small>
                </h3>
                <p class="text-left">
                    Serves as the plans, policy and initiatives group for F2025B
                    and the ARCIC.  Develops short and long range functional plans for the
                    ARCIC.   Develops TRADOC policy for concept development,
                    experimentation and requirements determination. Integrates and synchronizes
                    initiatives within ARCIC and across the Army.
                    Manages and coordinates ARCIC activities to include Professional
                    Development, training, taskings,
                    and support requirements.
                </p>
              
                <br />
            </div>
        </div>
    </div>
</div>


