
@{
    ViewBag.Title = "U.S. Joint Modernization Command (JMC)";    
}

 <!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-md-8">
        <h1 class="page-header"><b>U.S. Joint Modernization Command</b></h1>
        <ol class="breadcrumb hidden-xs hidden-sm">
            <li>
                <a href="/Home/">Home</a>
            </li>
            <li>
                <a href="/Home/About">About</a>
            </li>
            <li class="active">USJMC</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        @Html.Partial("_DirectorateNews")
        <!--Mission-->
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><b>Mission</b></h4>
                <p>JMC executes operationally realistic and rigorous Network Integration Evaluation (NIE) and Army Warfighting Assessment (AWA) exercises to provide Soldier feedback on emerging concepts and capabilities that will improve the combat effectiveness of the Joint Force. </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><b>Key Initiatives</b></h4>
                <p>The JMC and two other organizations of the Network Integration Partners--the U.S. Army Test and Evaluation Command (ATEC) and the System of Systems, Engineering and Integration Directorate (SoSEI), under the Assistant Secretary of the Army for Acquisition, Logistics and Technology ASA(ALT)-have been conducting semiannual Network Integration Evaluations since the spring of 2011. During these NIEs, the Partners assess networked and non-networked capabilities to determine their implications across DOTMLPF. NIEs are designed to evaluate deliberate and rapid acquisition solutions, as well as integrate and mature the Army's tactical network. With the NIE's primary purpose to accomplish required evaluations in support of Program of Record milestones and funding decisions, the Army will measure success by what is learned when it puts these networked capabilities in the hands of Soldiers in the field for evaluation</p>
                <p>Beginning in FY17, JMC will execute one Network Integration Evaluation (NIE) and one Army Warfighting Assessment (AWA) per year. Both events lay on top of a two to three week Decisive Action Training Environment with a brigade combat team, additional enablers and a division or corps simulation wrap-around. Both events are designed to deliver the Mission Command Network 2020 and assess interim solutions to Army Warfighting Challenges. Both events are designed to enable the Agile Process and generate Soldier and leader feedback on concepts and capabilities that will improve system performance. During an NIE, JMC coordinates with Army Test and Evaluation Command (ATEC) to execute formal tests of mission command systems and network programs of record. AWAs are the capstone event for Force 2025 Maneuvers and do not have the constraints of formal testing. Leveraging the unique capabilities of Fort Bliss, White Sands Missile Range, and Holloman Air Force Base, AWAs provide a Triple Payoff of Training Readiness, Future Force Development, and Joint and Multinational Interoperability. </p>

            </div>
        </div>
        <!--JMC History-->
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><b>JMC History</b></h4>
                <p>The Brigade Modernization Command was initially founded as the Future Force Integration Directorate at Fort Bliss, Texas, based on an Army Chief of Staff directive to Training and Doctrine Command, dated Dec. 20, 2005, to establish an on-site integration organization to facilitate development, testing and evaluation of the Future Combat Systems. FFID was organized as a directorate of the Army Capabilities Integration Center, a subordinate unit of TRADOC.</p>
                <p>The organization's initial mission was to synchronize delivery, preparation and evaluation of all FCS-related products, which included complementary systems; development of doctrine, organization and training, and leadership products which were synchronized with the Program Manager, FCS BCT, materiel developments and to exercise direct authority over the Army Evaluation Task Force, a unit of Soldiers that would test and evaluate the equipment.</p>
                <p>FFID operations began at Fort Bliss on June 15, 2006. In December 2006, FFID was officially designated to exercise direct authority over the AETF in its support of the modular future force. The AETF was officially activated on Dec. 16, 2006 as the 5th Brigade Combat Team, 1st Armored Division, AETF.</p>
                <p>In March 2007, ARCIC approved additional personnel for a general officer staff organization, which replicated a division headquarters. Brig. Gen. James L. Terry, FFID's first director, was welcomed in a formal ceremony on April 6, 2007. </p>
                <p>In August 2007, the FFID mission was modified to integrate modernization efforts in support of Army transformation in order to provide FCS-enabled modular brigades beginning Fiscal Year 2011 and an FCS BCT at full operational capability in 2017 to joint force commanders. On Oct. 1, 2007, FFID attained initial operational capability and assumed responsibility of FCS from the Unit of Action Maneuver Battle Laboratory based at Fort Knox, Kentucky.</p>
                <p>During its short history, the organization conducted numerous training and testing events, as well as demonstrations of FCS capabilities for visits by senior Department of Defense and Army leadership, congressional leaders and staffers, business executives and national and local news media representatives. Distinguished visitors included the Secretary of Defense, Chief of Staff of the Army, Chairman of the House Armed Services Committee and other notable politicians and congressional staff delegations.</p>
                <p>In April 2009, after the Secretary of Defense terminated the FCS program, FFID assumed responsibility for integrating BCT modernization for the Army. This included accelerated delivery of promising capabilities to the operating force. </p>
                <p>In late 2010, the Army Vice Chief of Staff directed that FFID, along with Fort Bliss and White Sands Missile Range, become the Army's centerpiece for network integration. Since this would require a full BCT to load and test the network, the Chief of Staff of the Army directed that the 2nd Brigade, 1st Armored Division assume the AETF mission from the 5th Brigade which would be deactivated in March 2011.</p>
                <p>On Feb. 7, 2011, the CSA directed that FFID be re-designated the Brigade Modernization Command with a mission to conduct physical integration and evaluations of the network and capability packages to provide doctrine, organization, training, materiel, leadership, personnel, facility, and policy recommendations to the Army. Today, BMC is focused on integrating test and evaluation events to deliver the Mission Command Network 2020. BMC now conducts two distinct annual events; the Network Integration Evaluation, which is a highly structured event testing Army Programs of Record, and Army Warfighting Assessments (AWAs).  AWAs allow the Army to assess interim solutions to enduring Warfighting Challenges by incorporating innovative concepts and capabilities into various formations including Joint and Multinational forces.  In addition to accelerating the rate of Army innovation AWAs enhance training, Joint/Multinational interoperability and future force development in a less restrictive environment than the formal test constraints inherent with the Network Integration Evaluation. </p>
                <p>Effective 7 February 2017, BMC was redesignated the U.S. Army Joint Modernization Command (JMC) and the AWA was renamed, U.S. Army Joint Warfighting Assessment (JWA).  The different names better reflect the evolving mission of the organization.  The original name focused on the brigade combat team and our mission through the NIE to test concepts and capabilities for the brigade level and below. Over the years that’s changed.  JMC now integrates division and corps level commands into our exercises.</p>
            </div>
        </div>
        <!--JMC Operations-->
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><b>JMC Operations</b></h4>
                <p>
                    In October 2016, JMC was officially accredited for the AWA exercise as a Joint National Training Capability training site.  The significance of this is similar to receiving an FDA stamp of approval on exercises. It means the JWA is a high quality training event
                    Fully accredited, the AWA changed to become the United States Army Joint Warfighting Assessment (JWA) which better reflects the scope of the exercise.
                </p>
                <p>The JWA continues to focus on Future Force Development, Joint and Multinational interoperability and Training. JWAs remains committed to providing opportunities to assess concepts and capabilities without formal test constraints, and partner with industry to integrate and assess early developmental prototypes, increasing the rate of innovation for our Army.</p>
                <p>The JWA is the Army’s largest live and constructive, multi-echelon, from Company to Corps-level, Joint/Multinational exercise designed to ensure the Joint Force is ready, interoperable and capable of accomplishing the mission and overmatching current and future enemies across the range of military operations. </p>
                <p>The NIE will continue to integrate Army tests on Programs of Record within a brigade force-on-force exercise.  Operationally relevant with demanding scenarios, the exercise will primarily focus on the network, mission command systems and other networked systems.  The NIE is the Army’s largest annual operational exercise that integrates, tests and evaluates systems and capabilities. </p>

            </div>
        </div>
        <!--Upcoming JMC Events-->
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><b>JMC Events</b></h4>
                <p>JMC will conduct NIE 17.2 from 11 – 30 July 2017 at both Fort Bliss, TX and White Sands Missile Range, NM.  NIEs are Soldier-led evaluations designed to further integrate and rapidly progress the Army's tactical communications network, and deliver the Mission Command Network 2020.  Through hands-on Soldier feedback, the army improves government and commercial technologies and enables senior leaders to make informed modernization decisions in a resource-constrained environment.  </p>
                <p>The U.S. Army Joint Modernization Command (JMC) and two other organizations - the U.S. Army Test and Evaluation Command (ATEC) and the System of Systems, Engineering and Integration Directorate (SoSE&I), under the Assistant Secretary of the Army for Acquisition, Logistics and Technology (ASA(ALT)) - form our network integration partnership and have been conducting semi-annual NIEs since the summer of 2011.  This later changed to an annual exercise due to the emergence of the Joint Warfighting Assessment. To date, eleven NIEs have successfully integrated, validated and refined over 313 concepts and capabilities.</p>
                <p>NIE 17.2 assesses concepts and capabilities in a realistic and rigorous environment to build an agile and adaptive Army for the future.  The exercise utilizes a Decisive Action Training Environment (DATE) scenario with a robust simulation wrap-around.</p>
                <p>In NIE 17.2, there will be two Systems Under Test (SUTs), three Risk Reduction Events (RREs) and five Baselines.  The Tactical Communications Nodes-Lite / Network Operations and Security Center-Lite (TCN-L/NOSC-L) and Tri-Band Line of Sight (TRILOS) are assessed as SUTs.  The Air-Ground Integrated Link Extended Network (AGILENET), Defense Cyberspace Operations Maneuver Baselines Forensics and Malware Analysis (DCO-MB/F+MA), Mobile User Objective System (MUOS) on Mobile Platform (MP) are RREs.  The AN/PRC-155 Handheld, Manpack and Small Form Fit Manpack (HMS Manpack), Handheld, Manpack and Small Form Fit Rifleman’s Radio/Nett Warrior (HMS RR/NW); Vehicle Integrated Power Enhanced Rifleman (Viper); Nett Warrior and Joint Tactical Radio Systems (JTRS) Enterprise Network Manager v3.3 (JENM v3.3) are Baselines.  Additionally, the Army’s Rapid Capabilities Office will conduct an electronic warfare excursion during the exercise.</p>
                <p>During and immediately following NIE 17.2 the network integration partners collect and assess data on networked and non-networked capabilities to support findings and recommendations using the DOTMLPF-P analysis framework.  Additionally, JMC collaborates with the Army Capabilities Integration Center’s (ARCIC’s) Capabilities Development Directorate (CDD) to present observations, findings and recommendations on assessed capabilities within the exercise.</p>

            </div>
        </div>
    </div>
        <!--Sidebar-->
        <div class="col-md-4">

            <!--Leadership-->
            <div class="thumbnail">
                <p><img class="img-responsive" src="~/App_Imgs/Leadership/Tyler.jpg" alt=""></p>
                <div class="caption text-center">
                    <h4 class="text-primary">
                        <b>BG Tyler</b><br>
                        <small>Commanding General</small>
                    </h4>
                    <p></p>
                    <div class="btn-group text-center">
                        <div class="btn btn-default">
                            <a href="/Leadership/bmc_director_bio"><i class="fa fa-word"></i> Bio</a>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="thumbnail">
                <p><img class="img-responsive" src="~/App_Imgs/Leadership/Engram-about-750.jpg" alt=""></p>
                <div class="caption text-center">
                    <h4 class="text-primary">
                        <b>CSM Wilbert E. Engram Jr.</b><br>
                        <small>Command Sergeant Major</small>
                    </h4>
                    <div class="btn-group text-center">
                        <div class="btn btn-default">
                            <a href="/Leadership/bmc_csm_bio"> <i class="fa fa-word"></i> Bio</a>
                        </div>
                       
                    </div>
                </div>
            </div> 
            
            <!--Divisions-->
           
           <div class="row">   
               <div class="col-md-12">
                   <h4><b>Divsions</b></h4>
               </div>
                           
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <img class="img-responsive" src="~/App_Imgs/App/bmc-img00.jpg" alt="">
                       <div class="caption panel-body">
                           <h4><b>Integrated Assessment Division (IAD) </b></h4>
                          
                           <p class="text-left">Recommends and modifies through the capabilities integration enterprise forum process across war fighting functions in partnership with all stakeholders, proponents, Centers of Excellence, and Program Managers.</p>

                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <img class="img-responsive" src="https://www.army.mil/e2/c/images/2013/02/25/283396/size0.jpg" alt="">
                       <div class="caption panel-body">
                           <h4><b>Effects</b></h4>

                           <p class="text-left">The Effects Division has the mission to look at future design, command information and strategic communications.</p>

                          
                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <img class="img-responsive" src="~/App_Imgs/App/bmc-img02.jpg" alt="">
                       <div class="caption panel-body">
                           <h4><b>G2</b></h4>
                          
                           <p class="text-left">Leads internal and external agencies and stakeholders to coordinate, plan, prepare and execute JMC intelligence and security requirements supporting Joint Modernization.</p>

                           
                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <img class="img-responsive" src="~/App_Imgs/App/bmc-img03.jpg" alt="">
                       <div class="caption panel-body">
                           <h4><b>G3 Operations and Plans</b></h4>
                         
                           <p class="text-left">The JMC G3 develops future plans, establishes priorities and directs current operations for the command.</p>

                           
                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <img class="img-responsive" src="~/App_Imgs/App/bmc-img04.jpg" alt="">
                       <div class="caption panel-body">
                           <h4><b>G6</b></h4>
                          
                           <p class="text-left">Recommends and modifies through the capabilities integration enterprise forum process across war fighting functions in partnership with all stakeholders, proponents, Centers of Excellence, and Program Managers.</p>

                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <img class="img-responsive" src="~/App_Imgs/App/bmc-img05.jpg" alt="">
                       <div class="caption panel-body">
                           <h4><b>Mission Command Complex (MCC)</b></h4>
                        
                           <p class="text-left">Recommends and modifies through the capabilities integration enterprise forum process across war fighting functions in partnership with all stakeholders, proponents, Centers of Excellence, and Program Managers.</p>

                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <img class="img-responsive" src="~/App_Imgs/App/bmc-img06.jpg" alt="">
                       <div class="caption panel-body">
                           <h4><b>Network Integration Division (NID)</b></h4>
                          
                           <p class="text-left">Recommends and modifies through the capabilities integration enterprise forum process across war fighting functions in partnership with all stakeholders, proponents, Centers of Excellence, and Program Managers.</p>

                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="panel panel-default">                     
                           <img class="img-responsive" src="~/App_Imgs/App/bmc-img07.jpg" alt="">
                           <div class="caption panel-body">
                               <h4><b>Sustainment (G1, G4, G8)</b></h4>
                              
                               <p class="text-left">Recommends and modifies through the capabilities integration enterprise forum process across war fighting functions in partnership with all stakeholders, proponents, Centers of Excellence, and Program Managers.</p>

                           </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="panel panel-default">
                       <img class="img-responsive" src="~/App_Imgs/App/bmc-img08.jpg" alt="">
                       <div class="caption panel-body">
                           <h4><b> Training and Evaluation Division (TED)</b></h4>
                          
                           <p class="text-left">Recommends and modifies through the capabilities integration enterprise forum process across war fighting functions in partnership with all stakeholders, proponents, Centers of Excellence, and Program Managers.</p>

                       </div>
                   </div>
               </div>
               
           </div>
            
        </div>
</div>


       





