@using ARCIC.Models;
@using ARCIC.App_Code;

@{
    ViewBag.Title = "News";
    var desc = Article.GetArticles().Where(x => x.dataSet == "exclusive").ToList().Take(10);
}

<div class="row">
    
    <div class="alert alert-success">
        @Html.Raw(ARCIC.App_Code.Text.CreateHyperLink.Create("My Button", "http://www.cnn.com"))
    </div>

    <div class="alert alert-success">
        <b>Text to evaluate: Army</b>
        <p>@desc.ToList()[0].description</p>
         
    </div>
    <p></p>

    <p>@Html.Raw(Text.CreateHyperLink.FindLinkableStrings("engineers"))</p>


    <p>
    <b>Regx: 
        </b>@Html.Raw(Text.UseRegX())</p>
   
</div>

