
<div class="list-group">
    <div class="list-group-item text-center">
        <h3 class="panel-heading"><b>ARCIC Professional Reading List</b></h3>
    </div>
    <a class="list-group-item" href="start/think"><h4>Think <i class="small fa fa-file-text pull-right"></i></h4></a>
    <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"><a href="start/threat">Threat</a> <i class="fa fa-file-text  pull-right"></i>
         <li class="btn-link"><a href="start/technology">Technology</a> <i class="fa fa-file-text  pull-right"></i>
    </ul>
    <a class="list-group-item" href="start/learn"><h4>Learn <i class="small fa fa-file-text pull-right"></i></h4></a>
    <a class="list-group-item" href="start/analyze"><h4>Analyze <i class="small fa fa-file-text pull-right"></i></h4></a>
    <a class="list-group-item" href="start/implement"><h4>Implement <i class="small fa fa-file-text pull-right"></i></h4></a>
    <a class="list-group-item clearfix" href="start/canon"><h4>Canon <i class="small fa fa-file-text pull-right"></i></h4> </a>   
    <a class="list-group-item" href="start/futurewar"><h4>Future War <i class="small fa fa-file-text pull-right"></i></h4></a> 
     <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"><a href="../Areas/SSP/_appDocuments/ARCIC-Reading-List-17-Jan-2017.pdf" target="_blank">*ARCIC Professional Reading List Source Document</a> <i class="fa fa-file-pdf-o  pull-right"></i>
         @*<li class="btn-link"><a href="start/technology">Technology</a> <i class="fa fa-file-text  pull-right"></i>*@
    </ul>  
</div>


<div class="list-group">
    <div class="list-group-item text-center">
        <h3 class="panel-heading"><b>Other Topics</b></h3>
    </div>
     <a class="list-group-item" href="start/innovation"><h4>Innovation <i class="small fa fa-file-text pull-right"></i></h4></a>
     <a class="list-group-item" href="/LPD/FullArchives"><h4>Professional Reading List Archives <i class="small fa fa-file-text pull-right"></i></h4></a>

    <a class="list-group-item text-muted"><h4>Other Learning Sites</h4> </a>
    <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"> <a href="http://www.understandingwar.org/" target="_blank">Institute for the Study of War <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"> <a href="https://www.nctc.gov/" target="_blank">National Counterterrorism Center <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"> <a href="https://www.crisisgroup.org/" target="_blank">International Crisis Group <i class="fa fa-external-link"></i></a></li>
    </ul>
</div>
