@{
    var readingList = "";
}

<div class="list-group">
    <div class="list-group-item text-center">
        <h3 class="panel-heading"><b>News</b></h3>
    </div>  
    <ul class="list-group list-unstyled text-left">
        <li class="btn-link list-group-item"> <a href="https://www.army.mil/article/174506/army_innovation_summit_highlights_industry_academia_collaborations" target="_blank">Army Innovation Summit 3 <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="http://tradocnews.org/seven-things-you-need-to-know-about-army-innovation/" target="_blank">Seven Things You Need to Know About Army Innovation <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="http://www.defensenews.com/articles/army-details-draft-robotics-and-autonomous-systems-strategy-at-ausa" target="_blank">Robotic and Autonomous Systems (RAS) <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="https://www.usnwc.edu/getattachment/a5aa508e-e5ba-4725-aef9-a75ee1e280a9/Thinking-about-Innovation---Murray,-Williamson.aspx" target="_blank">Thinking About Innovation <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="https://www.ausa.org/news/army-must-develop-new-ground-combat-vehicles" target="_blank"> Army Must Develop New Ground Combat Vehicles <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="http://www.defensenews.com/articles/what-is-the-next-gen-combat-vehicle" target="_blank">What is the Next-Gen Combat Vehicle? <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="https://www.army.mil/article/166838" target="_blank">CSA Milley: 'Readiness is my No. 1 priority' <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="http://www.defensenews.com/articles/the-multi-domain-battle" target="_blank"> Why Multi-Domain Battle? <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="https://www.ausa.org/news/future-multidomain-battles-will-challenge-joint-force" target="_blank">Future Multidomain Battles Will Challenge Joint Force <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link list-group-item"> <a href="https://www.ausa.org/articles/multi-domain-battle-joint-combined-arms-concept-21st-century" target="_blank"> Multi-Domain Battle: Joint Combined Arms Concept for the 21st Century <i class="fa fa-external-link"></i></a></li>
    </ul>
   

   
</div>