<div class="list-group">
    <div class="list-group-item text-center">
        <h3 class="panel-heading"><b>Maneuver Center of Excellence Professional Reading List</b></h3>
    </div>


    <a class="list-group-item">
        <h4>US Wars in Review (Past and Present)</h4>
    </a>
    <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Afghanistan/" target="_blank">Afghanistan <i class="fa fa-external-link"></i></a></li>
        <li></li>
    </ul>
    <a class="list-group-item">
        <h4>Maneuver Warfare (Profession of Arms)</h4>
    </a>
    <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Profession%20of%20Arms/" target="_blank">Profession of Arms <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Military%20History/" target="_blank">Study &amp; Use of Military History <i class="fa fa-external-link"></i></a></li>
    </ul>
    <a class="list-group-item">
        <h4>Future Maneuver Fighting Force</h4>
    </a>
    <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Learning%20Adaptation/" target="_blank">Learning Adaptation &amp; Innovation <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Combat%20Development/" target="_blank">Technology, Doctrine &amp; Combat Development <i class="fa fa-external-link"></i></a></li>
    </ul>
    <a class="list-group-item">
        <h4>Developing Leadership</h4>
    </a>
    <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Military%20Leadership/" target="_blank">Military Leadership <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Leader%20Developement/" target="_blank">Leader Development <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Logistics/" target="_blank">Logistics <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Training/" target="_blank">Training <i class="fa fa-external-link"></i></a></li>
    </ul>
    <a class="list-group-item">
        <h4>Building Mission Command</h4>
    </a>
    <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Combined%20Arms%20Operations/" target="_blank">Combined Arms Operations <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Mission%20Command/" target="_blank">Mission Command <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/OpArt/" target="_blank">Operational Art, Joint Operations, &amp; Multinational Operaitons <i class="fa fa-external-link"></i></a></li>
    </ul>
    <a class="list-group-item">
        <h4>The Effects of War</h4>
    </a>
    <ul class="list-group-item list-unstyled text-left">
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/MEPDOW/" target="_blank">Moral, Ethical, &amp; Psychological Dimensions of War <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Nature%20and%20Character/" target="_blank">Nature and Character of War and Warfare <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/SPDOW/" target="_blank">Strategy &amp; the Political Dimensions of War <i class="fa fa-external-link"></i></a></li>
        <li class="btn-link"><a href="http://www.benning.army.mil/mssp/Counterinsurgency/" target="_blank">Counterinsrugency <i class="fa fa-external-link"></i></a></li>
    </ul>


</div>


