<div class="panel panel-default">
    <div class="panel-body">
        <h3><b>Purpose</b></h3>
        <blockquote class="blockquote">
            <p>
                "He made notes on all the important books he read, both in the books themselves and on reference cards, and he was as deeply interested in some of the unsuccessful campaigns, trying to ferret out the secret of their unsuccess, as he was in the successful ones."

            </p>
            <footer>
               <a href="http://www.benning.army.mil/armor/eARMOR/content/issues/2013/JUL_SEP/ARMOR_JulSep13_Web.pdf" target="_blank"> 
                  Beatrice Patton (General George Patton’s Wife), on Patton's reading program. From “A Soldier’s Reading,” Armor Magazine, November-December 1952. Reprinted July-September 2013, pages 31-32.

                   <i class="fa fa-external-link"></i></a>
                <span> </span>
            </footer>
        </blockquote>
        <p>
            Army leader development across the institutional, operational, and self-development domains is essential to the adaptive and innovative leader. Collectively, the works contained within this ARCIC Self Study Page will stimulate and advance the thinking for all. The importance of reading is highlighted by the following two articles: 
     
            <b></b>
              </p>
        <ul class="text-left" style="list-style: square;">
            <li><a href="http://www.businessinsider.com/viral-james-mattis-email-reading-marines-2013-5" target="_blank">General James 'Mad Dog' Mattis About Being 'Too Busy To Read'</a></li>
            <li><a href="http://www.wsj.com/articles/the-need-to-read-1480083086" target="_blank">The Need to Read – Wall Street Journal</a></li>
        </ul>
        <p>
            The Self Study Program consists of several sections which include either books, articles, videos, news media and lectures to help educate any professional about their part in the Army's effort to aggressively transform the way the institutional Army operates and represent the engine of future development and innovation. Our Army must remain ready to protect the nation and win its wars. A commitment to learning will help individuals work together on the collective mission with all members of the United States Army to prepare for the future.
        </p>


    </div>
</div>
